/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* MIXINS */

/* VARIABLES */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font: 13px "Montserrat";
  color: #191d22;
}

.container {
  max-width: 1335px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 48px;
  box-sizing: content-box;
}

.container-nopadding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-nopadding__right {
  padding-right: 0;
}

.container-nopadding__sides {
  padding-right: 0;
  padding-left: 0;
}

.title {
  text-align: center;
  font: 28px "MontserratBold";
  margin-bottom: 36px;
}

/* BUTTONS */

.primary-btn {
  width: 168px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #ffffff;
  text-align: center;
  color: #191d22;
  font-size: 15px;
  font-family: "MontserratSemiBold";
  display: block;
  margin: 0 auto;
}

.primary-btn--blue {
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #7dcdf3;
  color: #ffffff;
}

/* SLIDERS */

.slick-dots {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width: 80px;
  margin-top: 36px;
}

.slick-dots li button {
  display: block;
  width: 9px;
  height: 9px;
  background-color: #85d1f5;
  padding: 0;
  border: none;
  border-radius: 100%;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #1c8abe;
}

/* HEADER */

header {
  background: url("img/header/Header_BG.png") center;
  min-height: 574px;
  position: relative;
}

.header-top {
  width: 100%;
  left: 0;
  top: 28px;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  height: 50px;
  background-color: #fff;
  position: absolute;
}

.header-top__order-link {
  padding-left: 15px;
  font: 12px "MontserratSemiBold";
  color: #191d22;
  font-weight: 400;
}

.header-top__logo {
  width: 82px;
  height: 81px;
  background-color: #fff;
  justify-self: center;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 13px;
}

.header-main-content {
  padding-top: 106px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.burger-btn {
  height: 16px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.burger-btn span {
  width: 100%;
  height: 2px;
  background-color: #191d22;
}

.header-title {
  margin-top: 10px;
  font: 31px "MontserratBold";
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 1.53px;
  min-width: 302px;
}

.header-title span {
  font: 52px "MontserratExtraBold";
  font-weight: 400;
  letter-spacing: 2.37px;
}

.yogurt-container {
  margin-top: -29px;
  display: flex;
  justify-content: center;
}

.yogurt__img {
  width: 100%;
  height: 328px;
  object-fit: cover;
}

/* MAIN CONTENT */

.services .title {
  background: url("img/title-shapes/Service.svg") bottom no-repeat;
  height: 45px;
}

.services-slider {
  min-height: 185px;
  padding-left: 10px;
}

.services-slide {
  outline: none;
  margin-right: 15px;
}

.services-slide__name {
  text-align: center;
  margin-top: 16px;
  font: 25px "MontserratSemiBold";
}

/* SERVICES */

.wonder-event .title:after {
  content: '';
  display: block;
  width: 100%;
  height: 9px;
  background: url("img/title-shapes/Wave.svg") center no-repeat;
  position: relative;
  top: 10px;
  left: -88px;
}

.wonder-content {
  margin-bottom: 21px;
}

.wonder-content__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.wonder-content__text p {
  margin-bottom: 10px;
}

/* WONDER EVENT */

.facts {
  background: url("img/facts/Facts_BG.svg") -277px no-repeat;
  background-size: cover;
}

.facts-img-wrapper {
  background: url("img/facts/Wonderpots_img_shape.svg") 100% 100% no-repeat;
  background-size: 581px 115px;
  width: 100%;
  height: 320px;
  max-width: 580px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.facts-img-wrapper img {
  object-fit: contain;
  width: 401px;
  height: 350px;
  position: absolute;
  right: 36px;
}

.facts-points {
  /* Style for "Vector Sma" */
  width: 100%;
  max-width: 322px;
  margin: 0 auto;
  height: 351px;
  background: url("img/facts/facts-points_BG.png") 5px no-repeat;
  background-size: contain;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: "IndieFlower";
  padding-left: 13px;
  padding-top: 40px;
}

.facts-point {
  width: 50%;
  height: 50%;
  text-align: center;
}

.facts-point__count {
  font-size: 54px;
  font-weight: 400;
  line-height: 39.7px;
  letter-spacing: 6.07px;
  margin-bottom: 18px;
}

.facts-point__name {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.29px;
}

/* FACTS */