/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* MIXINS */

/* VARIABLES */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font: 13px "Gill-Light";
  color: #191d22;
}

body.no-scroll {
  overflow: hidden;
}

section {
  outline: none;
}

.container {
  max-width: 1140px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 0;
  padding-left: 11px;
  padding-right: 11px;
}

.container-nopadding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-nopadding__right {
  padding-right: 0 !important;
}

.container-nopadding__sides {
  padding-right: 0;
  padding-left: 0;
}

.title {
  text-align: center;
  font: 28px "Gill-Bold";
  margin-bottom: 36px;
}

.title--left {
  text-align: left;
}

/* BUTTONS */

.primary-btn {
  width: 204px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #ffffff;
  text-align: center;
  color: #191d22;
  font-size: 16px;
  font-family: "Gill-Medium";
  display: block;
  margin: 0 auto;
  transition: all .25s linear;
  text-transform: uppercase;
  padding-top: 2px;
}

.primary-btn:hover {
  background-color: #e6f9ff;
}

.primary-btn--blue {
  width: 204px;
  background-color: #7dcdf3;
  box-shadow: 0 5px 0 #1c8abe;
  color: #ffffff;
}

.primary-btn--blue:hover {
  background-color: #92d5f4;
}

.primary-btn--submit {
  border: none;
  cursor: pointer;
  outline: none;
}

.primary-btn .inner {
  background: url("img/icons/Dish-white.svg") left 0 no-repeat;
  background-size: 17px 13px;
  padding-left: 22px;
}

/* SLIDERS */

.slick-dots {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: -4px;
}

.slick-dots li button {
  display: block;
  width: 9px;
  height: 9px;
  background-color: #85d1f5;
  padding: 0;
  border: none;
  border-radius: 100%;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  outline: none;
  margin-right: 11px;
}

.slick-dots li:last-child button {
  margin-right: 0;
}

.slick-dots li.slick-active button {
  background-color: #1c8abe;
}

.slider-wrapper {
  padding-bottom: 40px;
  overflow: hidden;
}

.slick-list {
  overflow: visible !important;
  padding-bottom: 40px;
}

/* HEADER */

header {
  position: absolute;
  left: 0;
  top: 28px;
  width: 100%;
  z-index: 200;
  transition: all .25s linear;
}

.header-top {
  width: 100%;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  height: 50px;
  background-color: #fff;
  transition: all .25s linear;
}

.header-btn-order {
  font: 12px "Gill-Medium";
  color: #191d22;
  font-weight: 400;
}

.header-btn-order .inner {
  padding-left: 15px;
  background: url("img/icons/Dish-black.svg") left center no-repeat;
  background-size: 11px 10px;
}

.main-logo {
  width: 81px;
  height: 81px;
  border: 2px solid #fff;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
}

.main-logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-logo--header {
  transform: translate(-50%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  padding-top: 0 !important;
  padding-left: 11px;
  padding-right: 11px;
}

.burger-btn {
  height: 16px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: all .25s linear;
  cursor: pointer;
}

.burger-btn:active {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}

.burger-btn span {
  transition: all .25s linear;
  width: 100%;
  height: 2px;
  background-color: #191d22;
}

.burger-btn.active {
  height: 20px;
}

.burger-btn.active .main-nav-block-mob {
  visibility: visible;
  opacity: 1;
}

.burger-btn.active .line1 {
  transform-origin: left bottom;
  transform: rotate(45deg);
}

.burger-btn.active .line3 {
  transform-origin: left top;
  transform: rotate(-45deg);
}

.burger-btn.active .line2 {
  width: 0;
  opacity: .2;
}

.main-nav-block-mob {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #caeeff;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all .25s linear;
}

.main-nav-block-mob.active {
  visibility: visible;
  opacity: 1;
}

.main-nav-block-mob .menu {
  margin-top: 120px;
  margin-left: 40px;
  display: block;
}

.main-nav-block-mob .menu__link {
  white-space: nowrap;
  display: block;
  color: #191d22;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin-right: 16px;
  margin-bottom: 36px;
  transition: all .25s linear;
}

.main-nav-block-mob .menu__link:hover {
  color: #1c8abe;
}

.primary-menu {
  width: auto;
  transition: all .25s linear;
}

.primary-menu .menu {
  display: none;
  justify-content: center;
  transition: all .25s linear;
}

.primary-menu .menu__item {
  margin-right: 50px;
}

.primary-menu .menu__item:last-child {
  margin-right: 0;
}

.primary-menu .menu__link {
  white-space: nowrap;
  display: block;
  color: #191d22;
  font: 18px "Gill";
  font-weight: 500;
  letter-spacing: 0.45px;
  transition: all .25s linear;
}

.primary-menu .menu__link:hover {
  color: #1c8abe;
}

/* MAIN CONTENT */

.wonderpots-general {
  background: url("img/wonderpots-top/Header_BG_mob.png") center repeat-x;
  background-size: cover;
  min-height: 574px;
  padding-bottom: 20px;
}

.wonderpots-general .container {
  overflow: hidden;
  padding-top: 0 !important;
}

.wonderpots-general .primary-btn {
  text-transform: uppercase;
  font-family: "Gill-Medium";
}

.wonderpots-wrapper {
  max-width: 100%;
  padding-top: 106px;
  height: 100%;
  padding-bottom: 11px;
  display: grid;
  grid-template-columns: 100%;
}

.wonderpots-title {
  margin-top: 10px;
  font: 31px "Gill-Bold";
  text-transform: uppercase;
  letter-spacing: 1.53px;
  min-width: 302px;
  font-weight: 700;
  text-align: center;
}

.wonderpots-title span {
  font: 52px "Gill-Bold";
  letter-spacing: 2.37px;
  line-height: 40px;
}

.yogurt-container {
  margin-top: -29px;
  display: flex;
  justify-content: center;
}

.yogurt {
  max-width: 380px;
  position: relative;
}

.yogurt__img {
  position: relative;
  left: 70px;
  width: 385px;
  height: 100%;
}

.yogurt__property {
  font: 18px "IndieFlower";
  color: #fff;
  position: absolute;
  text-align: center;
  line-height: 16px;
}

.yogurt__property-oganic {
  left: 25px;
  top: 79px;
  width: 80px;
}

.yogurt__property-oganic:after {
  content: '';
  background: url("img/wonderpots-top/Prop_arrows/Yogurt_prop_arrow_1.svg") center no-repeat;
  background-size: contain;
  width: 56px;
  height: 33px;
  position: absolute;
  right: -15px;
  top: -18px;
}

.yogurt__property-fresh {
  right: 43px;
  top: 72px;
}

.yogurt__property-fresh:after {
  content: '';
  background: url("img/wonderpots-top/Prop_arrows/Yogurt_prop_arrow_2.svg") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 30px;
  position: absolute;
  left: -21px;
  top: -18px;
}

.yogurt__property-logo {
  left: 45px;
  bottom: 15px;
}

.yogurt__property-logo:after {
  content: '';
  background: url("img/wonderpots-top/Prop_arrows/Yogurt_prop_arrow_3.svg") center no-repeat;
  background-size: contain;
  width: 69px;
  height: 55px;
  position: absolute;
  left: 76px;
  top: -32px;
  z-index: 77;
}

.wonder-ticket {
  display: none;
}

.wonderpots__text {
  display: none;
}

.notification-wrapper {
  max-width: 1140px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: 11px;
  padding-right: 11px;
}

.cookie-notification {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #e9f6fc;
  margin: 0 10px;
  line-height: 18px;
  font-size: 15px;
  opacity: 0;
  padding: 0;
  transition: all .25s linear;
}

.cookie-notification.show {
  padding: 30px;
  margin-bottom: 20px;
  opacity: 1;
}

.cookie-notification__agree-btn {
  min-width: 148px;
  height: 38px;
  background-color: #7dccf3;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 16px;
  padding-top: 5px;
  cursor: pointer;
  font: 15px "Gill";
}

.cookie-notification__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-notification__close span {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #1c8abe;
  border-radius: 3px;
  position: absolute;
}

.cookie-notification__close span:nth-child(1) {
  transform: rotate(45deg);
}

.cookie-notification__close span:nth-child(2) {
  transform: rotate(-45deg);
}

/* WONDERPOTS GENERAL */

.services .title:after {
  content: '';
  display: block;
  width: 297px;
  height: 9px;
  margin: 0 auto;
  background: url("img/title-shapes/Service.svg") center no-repeat;
  position: relative;
  background-size: contain;
  bottom: -10px;
}

.services .container {
  padding-bottom: 30px;
}

.services .slider-wrapper {
  margin-top: -30px;
  padding-top: 40px;
}

.services-slider.slick-slider {
  margin: 0 -11px;
}

.services-grid .slide {
  outline: none;
}

.service-item {
  position: relative;
  max-width: 298px;
  outline: none;
  margin: 0 auto;
  transition: all .25s linear;
}

.service-item__img {
  transition: all .25s linear;
  width: 100%;
  top: -50px;
  position: relative;
  opacity: 0;
}

.service-item__name {
  margin-top: 25px;
  margin-bottom: 12px;
  text-align: left;
  font: 24px "Gill-Bold";
}

.service-item__description {
  font-size: 14px;
  line-height: 22px;
}

/* SERVICES */

.wonder-event .title:after {
  content: '';
  display: block;
  width: 100%;
  height: 9px;
  background: url("img/title-shapes/Wave.svg") center no-repeat;
  position: relative;
  background-size: contain;
  top: 10px;
  left: -88px;
  z-index: -1;
}

.wonder-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 555px;
  max-height: 451px;
  width: 100%;
}

.wonder-content p {
  margin-bottom: 16px;
}

.wonder-content .primary-btn {
  margin-top: 21px;
}

/* WONDER EVENT */

.facts {
  background: url("img/facts/Facts_BG.svg") -150px center no-repeat;
  background-size: 300% 100%;
  padding-bottom: 38px;
  padding-top: 30px;
  margin-top: 50px;
}

.facts .container {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.facts-wrapper {
  display: flex;
  flex-direction: column;
}

.facts-img-container {
  overflow: hidden;
}

.facts-img {
  width: 320px;
  height: 383px;
  /* max-width: 290px; */
  margin: 0 auto;
}

.main-img {
  width: 430px;
  height: 383px;
  /* max-width: 290px; */
  margin: 0 auto;
  position: relative;
  background: url(img/facts/Wonderpots_img.png) center no-repeat;
  background-position-x: 100%;
  background-size: 100% 100%;
  position: relative;
  left: -130px;
}

.main-img:before {
  content: '';
  width: 581px;
  height: 115px;
  z-index: -1;
  background: url(img/facts/Wonderpots_img_shape.svg) center no-repeat;
  position: absolute;
  right: -20px;
  bottom: 30px;
}

.facts-points-container {
  overflow: hidden;
  max-width: 912px;
  max-height: 864px;
  box-sizing: content-box;
  position: relative;
  width: 100%;
}

.facts-points-container:before {
  content: '';
  display: block;
  position: absolute;
  background: url("img/facts/Paint splash.svg") 5px no-repeat;
  background-size: 100% 100%;
  width: 150%;
  height: 115%;
  top: -20px;
  left: -84px;
}

.facts-points-container .title-copy {
  font: 32px "Gill-Bold";
  display: none;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  width: 100%;
  z-index: 99;
  position: relative;
  margin-bottom: 30px;
}

.facts-points {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  min-height: 351px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: "IndieFlower";
  z-index: 99;
  position: relative;
  padding: 30px 0 20px 13px;
}

.facts-point {
  width: 50%;
  height: 50%;
  text-align: center;
}

.facts-point__count {
  font-size: 54px;
  font-weight: 400;
  line-height: 39.7px;
  letter-spacing: 6.07px;
  margin-bottom: 25px;
}

.facts-point__name {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2px;
}

/* FACTS */

.latest-events .title:after {
  content: '';
  display: block;
  width: 200px;
  height: 13px;
  background: url("img/title-shapes/Latest-events.svg") center no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  bottom: -10px;
}

.latest-events .container {
  max-width: 1230px;
}

.latest-events-slider {
  min-height: 314px;
  position: relative;
}

.latest-events-slider .slick-arrow {
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translateY(-90%);
  cursor: pointer;
  transition: all .25s linear;
}

.latest-events-slider .slider-arrow-left {
  display: block;
  width: 45px;
  height: 45px;
  background: url("img/icons/sliders/Arrow-left.svg") center no-repeat;
  left: -10px;
}

.latest-events-slider .slider-arrow-right {
  right: -10px;
  display: block;
  width: 45px;
  height: 45px;
  background: url("img/icons/sliders/Arrow-right.svg") center no-repeat;
}

.latest-events-link {
  max-width: 262px;
  max-height: 386px;
  outline: none;
  max-height: 450px;
  box-shadow: 10px 17px 36px 2px rgba(0, 25, 36, 0.1);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
}

.latest-events-link:hover .hover-block {
  visibility: visible;
  opacity: 0.9;
}

.latest-events-link .hover-block {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  border-radius: 0 0 20px   20px;
  background-color: #85d1f5;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font: 18px "Gill-Bold";
  transition: all .25s linear;
  opacity: 0;
}

.latest-events-link .hover-block span {
  line-height: 70px;
}

.latest-events-link img {
  width: 100%;
  height: 100%;
}

/* LATEST EVENTS */

.toppings .title-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0 75px 0 75px;
  margin-bottom: 36px;
}

.toppings .title {
  position: relative;
  display: inline;
}

.toppings .title:before {
  content: '';
  display: block;
  width: 70px;
  height: 50px;
  background: url("img/title-shapes/Wing-left.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 7px;
  left: -9px;
  transform: translateX(-110%);
}

.toppings .title:after {
  content: '';
  display: block;
  width: 65px;
  height: 50px;
  background: url("img/title-shapes/Wing-right.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 7px;
  right: -8px;
  transform: translateX(125%);
}

.container.toppings-container {
  padding-left: 0;
  padding-right: 0;
}

.topping-slider-wrapper {
  padding-left: 11px;
}

.toppings-slider {
  display: grid;
  grid-gap: 28px;
  grid-template-columns: repeat(auto-fill, 166px);
  justify-content: space-between;
}

.toppings-slide {
  width: 166px;
  height: 166px;
  margin-right: 11px;
}

#toppings-slider-arrows .slick-prev {
  display: none !important;
}

#toppings-slider-arrows {
  display: flex;
  justify-content: center;
}

#toppings-slider-arrows .next-slide-btn {
  border: none;
  background-color: unset;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: all .25s linear;
  padding-right: 50px;
  background: url("img/icons/Arrow-right.svg") center right no-repeat;
}

.toppings-slide__continue {
  color: #85d1f5;
  font-size: 30px;
  display: flex !important;
  align-items: center;
  font-weight: 700;
  padding-left: 60px;
  /* Text style for "t, o be co" */
  letter-spacing: 0.75px;
  min-width: 300px;
  background: url("img/icons/heart.svg") center left no-repeat;
}

.toppings-slide__continue.slick-slide {
  height: 166px;
}

/* TOPPINGS */

.unigue {
  background: url("img/unique/Unique_ContactForm_BG.svg") center;
  background-size: 190%;
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;
}

.unigue .title {
  padding: 0 10px;
}

.unique-blocks--container {
  position: relative;
}

.unique-blocks--container:before {
  display: none;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 20%;
  background: url("img/unique/Line.svg") center repeat-x;
}

.unique-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 1140px;
  padding: 0 11px;
  margin: 0 auto;
  position: relative;
}

.unique-item {
  width: 139px;
  height: 139px;
  box-shadow: 4px 6px 0 #3ba7da;
  background-color: #85d1f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
  font: 22px "IndieFlower";
  font-weight: 400;
  line-height: 23.71px;
  letter-spacing: 0.86px;
  margin-bottom: 43px;
}

.unique-item:last-child {
  padding-top: 0;
}

/* UNIQUE */

.booking-wrapper {
  padding: 10% 0;
  outline: none;
}

.booking {
  margin: 0 auto;
  max-width: 554px;
  position: relative;
  visibility: visible;
  transition: all .25s linear;
}

.booking__main {
  transition: all .25s linear;
  opacity: 1;
  visibility: visible;
}

.booking__main.hide {
  opacity: 0;
  visibility: hidden;
}

.booking__title {
  font: 28px "Gill-Bold";
  margin-bottom: 24px;
  text-align: center;
}

.result-box-wrapper {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  transition: all .25s linear;
}

.result-box-wrapper.show {
  visibility: visible;
  opacity: 1;
}

.result-box-wrapper .result-box {
  top: 0;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-box-wrapper .result-box__main-logo {
  margin: 20px 0 16px 0;
  order: unset;
}

.result-box-wrapper .result-box .result-title {
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font: 28px "Gill-Bold";
  margin-bottom: 36px;
}

.result-box-wrapper .result-box .result-title--left {
  text-align: left;
}

.result-box-wrapper .result-box p {
  color: #3ca7db;
  font-size: 20px;
  font-weight: 400;
  line-height: 34.99px;
  text-align: center;
}

.result-box-wrapper .result-box__succsess {
  z-index: -1;
}

.result-box-wrapper .result-box__succsess.show {
  opacity: 1;
  z-index: 99;
}

.result-box-wrapper .result-box__error {
  z-index: -1;
}

.result-box-wrapper .result-box__error.show {
  z-index: 99;
  opacity: 1;
}

.result-box-wrapper .close-btn {
  position: absolute;
  cursor: pointer;
  right: 0;
  display: block;
  z-index: 100;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.result-box-wrapper .close-btn span {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #191d22;
  position: absolute;
}

.result-box-wrapper .close-btn span:first-child {
  transform: rotate(45deg);
}

.result-box-wrapper .close-btn span:last-child {
  transform: rotate(-45deg);
}

.contact-form {
  margin-top: 24px;
}

.contact-form__input {
  padding-left: 50px;
  padding-right: 20px;
  outline: none;
  width: 100%;
  height: 46px;
  box-shadow: 2px 4px 10px #dedede;
  border: 1px solid #f3f3f3;
  border-radius: 25px;
  font: 13px "Gill";
  background-color: #fff;
  margin-bottom: 11px;
}

.contact-form__input::placeholder {
  color: #d4d4d4;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.39px;
}

.contact-form__input-name {
  background: #fff url("img/icons/form-icons/user.svg") 15px center no-repeat;
  background-size: 17px 19px;
}

.contact-form__input-email {
  background: #fff url("img/icons/form-icons/email.svg") 15px center no-repeat;
  background-size: 17px 17px;
}

.contact-form__textarea {
  max-width: 100%;
  min-height: 104px;
  padding-top: 13px;
  margin-bottom: 30px;
  padding-bottom: 12px;
  background: #fff url("img/icons/form-icons/edit.svg") 15px 13px no-repeat;
  background-size: 17px 17px;
}

.contact-form .redBorder {
  border: 1px solid rgba(242, 38, 19, 0.5);
}

.contact-form .primary-btn--submit {
  margin: 0;
}

/* CONTACT FORM */

footer {
  background: url("img/footer/Footer_BG_mob.png") center repeat-x;
  min-height: 592px;
  background-size: 100% 100%;
}

footer .container {
  padding-top: 28px;
  padding-bottom: 30px;
}

.footer-wrapper {
  display: grid;
  font-size: 11px;
}

.main-logo--footer {
  order: unset !important;
  grid-column: 1/2;
  justify-self: flex-start;
}

.footer-social {
  grid-column: 2/3;
  justify-self: flex-end;
  align-self: center;
}

.social {
  display: flex;
}

.social__item {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(28, 138, 190, 0.59);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: rgba(28, 138, 190, 0.78);
}

.social__icon {
  fill: #fff;
  width: 8px;
  height: 12px;
}

.social__icon-twitter {
  width: 11px;
  height: 10px;
}

.social__icon-google {
  width: 16px;
  height: 11px;
}

.footer-about-us {
  margin-top: 14px;
  grid-column: 1/3;
}

.footer-about-us__title {
  margin-bottom: 12px;
}

.footer-about-us__text {
  font-weight: 400;
  letter-spacing: 0.52px;
  max-width: 350px;
  line-height: 18px;
}

.footer-pictures {
  display: flex;
  justify-self: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  grid-column: 1/3;
}

.footer-pictures__wrapper {
  width: 32%;
  max-width: 166px;
  max-height: 166px;
  position: relative;
}

.footer-pictures__wrapper:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all .25s linear;
}

.footer-pictures__wrapper:hover:before {
  background-color: rgba(0, 0, 0, 0.15);
}

.footer-pictures__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footer-stores {
  margin-top: 16px;
  grid-column: 1/3;
}

.footer-stores__title {
  text-transform: uppercase;
  margin-bottom: 12px;
  font: 16px "Gill-Bold";
}

.store-info__item {
  margin-bottom: 8px;
  padding-left: 26px;
}

.store-info__item-name {
  background: url("img/icons/man-user.svg") left 2px no-repeat;
  background-size: 12px 14px;
}

.store-info__item-phone {
  background: url("img/icons/phone-receiver.svg") left no-repeat;
  background-size: 14px 14px;
}

.store-info__item-address {
  background: url("img/icons/maps-and-flags.svg") left 4px no-repeat;
  background-size: 15px 16px;
}

.store-info a {
  color: #191d22;
}

.footer-copyright {
  grid-column: 1/3;
  font: 11px "Gill-Bold";
  font-weight: 700;
  line-height: 11.56px;
  text-transform: uppercase;
  letter-spacing: 0.52px;
  text-align: center;
  margin-top: 35px;
}

/* FOOTER */

@media only screen and (min-width: 400px) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .notification-wrapper {
    padding-left: 7%;
    padding-right: 7%;
  }

  .facts-points-container:before {
    width: 125%;
    height: 113%;
  }

  .unique-blocks {
    padding: 0 7%;
    box-sizing: content-box;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 70px;
  }

  .slider-wrapper {
    padding-bottom: 0;
  }

  .slick-list {
    overflow: hidden !important;
  }

  .cookie-notification.show {
    padding: 10px 74px 10px 108px;
  }

  .cookie-notification {
    background: #e9f6fc url("img/wonderpots-top/cookie-notification-icon.svg") 20px center no-repeat;
    flex-direction: row;
    background-position: 35px center;
    margin: 0;
  }

  .cookie-notification__agree-btn {
    margin-top: 0;
    margin-left: 21px;
  }

  .service-item {
    max-width: 265px;
  }

  .service-item {
    align-items: center;
    margin-bottom: 20px;
  }

  .service-item__description {
    display: block;
    font-size: 16px;
    line-height: 22px;
  }

  .service-item:first-child {
    margin-bottom: 20px;
  }

  .wonder-event .container {
    padding-bottom: 60px;
  }

  .wonder-event-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 27px;
  }

  .wonder-event-wrapper .wonder-title {
    grid-column: 2;
    grid-row: 1;
    text-align-last: left;
    margin-bottom: 48px;
  }

  .wonder-event-wrapper .wonder-title:after {
    background-position: left;
    width: 309px;
    height: 16px;
    left: -31%;
  }

  .wonder-event-wrapper .wonder-img {
    grid-column: 1;
    grid-row: 1/3;
    margin: 0;
    width: 100%;
  }

  .wonder-event-wrapper .wonder-content {
    grid-column: 2;
    grid-row: 2;
  }

  .wonder-event-wrapper .wonder-content .primary-btn {
    margin: 0;
    margin-top: 21px;
  }

  .facts {
    padding-bottom: 60px;
    background-size: 150% 100%;
    background-position: -100px center;
  }

  .facts .container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .facts-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .facts-img-container {
    width: 41%;
    overflow: visible;
  }

  .facts-points-container {
    overflow: visible;
  }

  .facts-points-container:before {
    width: 115%;
    height: 113%;
    left: -30px;
  }

  .facts-points-container {
    margin: 0;
    padding: 20px;
  }

  .facts-points {
    max-width: 85%;
  }

  .latest-events-link {
    margin-bottom: 40px;
    box-shadow: 6px 7px 15px 4px rgba(0, 25, 36, 0.1);
  }

  .container.toppings-container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .topping-slider-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .unique-blocks--container:before {
    display: block;
  }

  .booking-wrapper {
    background: url("img/unique/Paper_BG.svg") top center no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 990px;
    margin: 0 auto;
  }

  .booking {
    width: 90%;
  }

  .contact-form {
    margin-top: 0;
  }

  .contact-form__textarea {
    margin-bottom: 20px;
  }

  footer {
    background: url("img/footer/Footer_BG_desk.png") center repeat-x;
    min-height: 411px;
    background-size: 100% 100%;
  }

  .footer-wrapper {
    margin-top: 28px;
    grid-template-columns: 24% 49% 26%;
    grid-column-gap: 17px;
    line-height: 22px;
  }

  .footer-social {
    justify-self: center;
    grid-column: 2/3;
  }

  .footer-about-us {
    grid-column: 1/2;
  }

  .footer-pictures__img {
    max-height: 166px;
  }

  .footer-pictures {
    grid-column: 2/3;
    margin-top: 20px;
  }

  .footer-stores {
    grid-column: 3;
    grid-row: 2/3;
    padding-left: 10px;
  }

  .footer-copyright {
    grid-column: 1/4;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 25px;
  }

  .container {
    padding-top: 90px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .primary-btn .inner {
    background-size: 20px 16px;
    padding-left: 37px;
  }

  header {
    top: 51px;
  }

  .header-top {
    height: 74px;
  }

  .header-btn-order {
    width: 214px;
    height: 44px;
    border-radius: 25px;
    line-height: 50px;
    box-shadow: 0 5px 0 #1c8abe;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    background-color: #7dcdf3;
    color: #ffffff;
    margin-top: -5px;
    transition: all .25s linear;
  }

  .header-btn-order:hover {
    background-color: #92d5f4;
  }

  .header-btn-order .inner {
    padding-left: 30px;
    background: url("img/icons/Dish-white.svg") left center no-repeat;
    background-size: 19px 17px;
  }

  .main-logo {
    order: 1;
    transform: unset;
    width: 130px;
    height: 130px;
  }

  .header-container {
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .burger-btn {
    display: none;
  }

  .main-nav-block-mob {
    display: none;
  }

  .primary-menu {
    width: 50%;
  }

  .primary-menu .menu {
    display: flex;
  }

  .wonderpots-general {
    min-height: 900px;
    background: url("img/wonderpots-top/Header_BG_desk.png") bottom center repeat-x;
    padding-bottom: 50px;
  }

  .wonderpots-general .primary-btn {
    margin: 0;
  }

  .wonderpots-general .primary-btn {
    position: relative;
    top: -15px;
    width: 229px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    border-radius: 40px;
  }

  .wonderpots-wrapper {
    grid-template-columns: 1fr 1fr;
    padding-top: 188px;
  }

  .wonderpots-title-wrapper {
    max-width: 650px;
  }

  .wonderpots-title {
    grid-row: 1/2;
    text-align: left;
    font-size: 38px;
  }

  .wonderpots-title span {
    font-size: 64px;
    line-height: 60px;
  }

  .yogurt-container {
    margin-top: 0;
    grid-column: 2;
    grid-row: 1/3;
    max-height: 620px;
  }

  .yogurt__img {
    height: 567px;
    width: auto;
    left: 0;
  }

  .yogurt {
    left: -50px;
  }

  .yogurt__property {
    font-size: 26px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2.01px;
  }

  .yogurt__property-oganic {
    left: -87px;
    top: 90px;
    width: unset;
  }

  .yogurt__property-oganic:after {
    width: 99px;
    height: 80px;
    right: -26px;
    top: -37px;
  }

  .yogurt__property-fresh {
    right: -96px;
    top: 122px;
  }

  .yogurt__property-fresh:after {
    width: 90px;
    height: 62px;
    left: -44px;
    top: -35px;
  }

  .yogurt__property-logo {
    left: -55px;
    bottom: 15px;
  }

  .yogurt__property-logo:after {
    width: 122px;
    height: 116px;
    left: 122px;
    top: -73px;
  }

  .wonder-ticket {
    width: 265px;
    height: 97px;
    margin-top: 30px;
    margin-bottom: 36px;
    display: block;
    text-align: center;
    background: url("img/wonderpots-top/wonder-tcket-bg.svg") center no-repeat;
    background-size: contain;
  }

  .wonder-ticket__inner {
    position: relative;
    left: -7px;
    letter-spacing: 2px;
    color: #2c3137;
    font-family: "Sacramento";
    font-size: 43px;
    font-weight: 400;
    line-height: 97px;
    display: inline-block;
    transform: rotate(-2.5deg);
  }

  .wonderpots__text {
    margin-top: 10px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    font-family: "Gill";
  }

  .services {
    background: url("img/services/Service_BG.svg") center bottom no-repeat;
    background-size: 100% 70%;
  }

  .services-grid {
    display: flex;
    justify-content: space-between;
  }

  .services-grid .slide {
    margin-right: 30px;
  }

  .services-grid .slide:nth-child(2) .service-item__img {
    transition-delay: .2s;
  }

  .services-grid .slide:last-child {
    margin-right: 0;
  }

  .services-grid .slide:last-child .service-item__img {
    transition-delay: .4s;
  }

  .facts .facts-title {
    display: none;
  }

  .main-img {
    margin-top: 100px;
    width: 480px;
    height: 390px;
    left: -180px;
  }

  .main-img:before {
    width: 623px;
    height: 160px;
    right: -80px;
    bottom: -10px;
  }

  .facts-points-container .title-copy {
    display: block;
  }

  .facts-points-container {
    padding: 50px 80px 50px 50px;
  }

  .latest-events-slider {
    padding: 0 30px;
  }

  .toppings .title-wrapper {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .unigue {
    background-size: 100%;
    padding-top: 80px;
  }

  .unique-blocks--container:before {
    height: 200px;
    top: 15%;
  }

  .unique-item {
    width: 176px;
    height: 176px;
    font-size: 26px;
    line-height: 30px;
  }

  .unique-item:nth-child(even) {
    margin-top: 120px;
  }

  .booking__info {
    font-size: 15px;
    line-height: 25px;
  }

  .booking__title {
    font-size: 32px;
  }

  .result-box-wrapper .result-box__main-logo {
    margin: 70px 0 40px 0;
  }

  .result-box-wrapper .result-box .result-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .contact-form__input {
    font-size: 15px;
  }

  .footer-wrapper {
    font-size: 14px;
  }

  .main-logo--footer {
    width: 98px;
    height: 98px;
  }

  .social__item {
    width: 61px;
    height: 61px;
    margin-right: 19px;
  }

  .social__link {
    width: 53px;
    height: 53px;
  }

  .social__icon {
    width: 11px;
    height: 20px;
  }

  .social__icon-twitter {
    width: 19px;
    height: 16px;
  }

  .social__icon-google {
    width: 24px;
    height: 16px;
  }

  .footer-about-us__title {
    margin-bottom: 20px;
  }

  .footer-copyright {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    padding-top: 120px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 90px;
  }

  .primary-btn {
    width: 245px;
    height: 58px;
    line-height: 58px;
    border-radius: 50px;
  }

  .wonderpots-title {
    font-size: 46px;
  }

  .wonderpots-title span {
    font-size: 78px;
    line-height: 70px;
  }

  .service-item:first-child {
    margin-bottom: 45px;
  }

  .wonder-event-wrapper .wonder-title:after {
    top: 7px;
  }

  .wonder-event-wrapper .wonder-content .primary-btn {
    margin-top: 30px;
  }

  .facts {
    padding-top: 0;
    margin-top: 0;
  }

  .main-img {
    margin-top: 100px;
    width: 631px;
    height: 550px;
    left: -208px;
  }

  .main-img:before {
    width: 823px;
    height: 160px;
    right: -140px;
    bottom: -10px;
  }

  .facts-points-container:before {
    width: 124%;
    height: 115%;
    left: -80px;
  }

  .facts-points-container .title-copy {
    font-size: 36px;
    margin-bottom: 40px;
    margin-left: 10px;
  }

  .facts-points-container {
    padding: 90px 120px 50px 90px;
  }

  .latest-events .title:after {
    width: 300px;
    height: 20px;
    bottom: -20px;
  }

  .toppings .title-wrapper {
    font-size: 36px;
    margin-bottom: 90px;
  }

  .unigue {
    padding-top: 140px;
  }

  .booking__title {
    font-size: 36px;
  }

  .result-box-wrapper .result-box .result-title {
    font-size: 36px;
    margin-bottom: 26px;
  }

  .contact-form__input {
    height: 58px;
  }

  .contact-form__textarea {
    min-height: 132px;
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    padding-top: 130px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 84px;
  }

  .wonderpots-title {
    font-size: 60px;
  }

  .wonderpots-title span {
    font-size: 100px;
    line-height: 99px;
  }

  .yogurt {
    left: 0;
  }

  .services .title:after {
    width: 402px;
    height: 20px;
    bottom: -4px;
  }

  .service-item:first-child {
    margin-bottom: 70px;
  }

  .wonder-event .container {
    padding-top: 193px;
  }

  .wonder-event-wrapper .wonder-title:after {
    top: 17px;
  }

  .wonder-event-wrapper .wonder-content .primary-btn {
    margin-top: 41px;
  }

  .facts {
    margin-top: 139px;
    background-size: 120% 100%;
    background-position: -31px center;
    padding-bottom: 38px;
  }

  .facts-img {
    width: auto;
    height: auto;
  }

  .main-img:before {
    width: 858px;
    height: 151px;
    right: -119px;
    bottom: 29px;
  }

  .facts-points-container .title-copy {
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 45px;
    letter-spacing: -2.8px;
  }

  .facts-points-container {
    padding: 99px 42px 66px 67px;
  }

  .facts-points {
    max-width: 100%;
  }

  .facts-points {
    margin: 0;
    padding: 0;
    height: 370px;
  }

  .facts-point__count {
    font-size: 65px;
  }

  .facts-point__name {
    font-size: 28px;
    line-height: 31.05px;
  }

  .latest-events .title {
    margin-bottom: 103px;
  }

  .latest-events .container {
    padding-top: 147px;
  }

  .toppings .title-wrapper {
    font-size: 40px;
    margin-bottom: 108px;
  }

  .toppings .title:before {
    width: 128px;
    height: 82px;
    transform: translateX(-130%);
  }

  .toppings .title:after {
    width: 139px;
    height: 90px;
    transform: translateX(130%);
  }

  .container.toppings-container {
    padding-top: 139px;
  }

  .unigue {
    padding-top: 193px;
  }

  .unigue--container {
    padding-top: 0;
  }

  .booking-wrapper {
    padding: 140px 0 160px 0;
  }

  .booking__title {
    font-size: 40px;
    margin-bottom: 38px;
  }

  .result-box-wrapper .result-box .result-title {
    font-size: 40px;
    margin-bottom: 30px;
  }
}