/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* MIXINS */

/* VARIABLES */

/* GENERAL */

* {
  box-sizing: border-box;
}

body {
  font: 13px "Montserrat";
  color: #191d22;
}

body.no-scroll {
  overflow: hidden;
}

.container {
  max-width: 1335px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.container.slider-container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1335px;
}

.container-nopadding {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-nopadding__right {
  padding-right: 0 !important;
}

.container-nopadding__sides {
  padding-right: 0;
  padding-left: 0;
}

.title {
  text-align: center;
  font: 28px "MontserratBold";
  margin-bottom: 36px;
}

.title--left {
  text-align: left;
}

/* BUTTONS */

.primary-btn {
  width: 168px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #ffffff;
  text-align: center;
  color: #191d22;
  font-size: 15px;
  font-family: "MontserratSemiBold";
  display: block;
  margin: 0 auto;
  transition: all .25s linear;
}

.primary-btn:hover {
  background-color: #e6f9ff;
}

.primary-btn--blue {
  background-color: #7dcdf3;
  box-shadow: 0 5px 0 #1c8abe;
  color: #ffffff;
}

.primary-btn--blue:hover {
  background-color: #92d5f4;
}

.primary-btn--submit {
  border: none;
  cursor: pointer;
  outline: none;
}

.primary-btn .inner {
  background: url("img/icons/Dish-white.svg") left 4px no-repeat;
  background-size: 17px 13px;
  padding-left: 22px;
}

/* SLIDERS */

.slick-dots {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: -4px;
}

.slick-dots li button {
  display: block;
  width: 9px;
  height: 9px;
  background-color: #85d1f5;
  padding: 0;
  border: none;
  border-radius: 100%;
  text-indent: -9999px;
  font-size: 0;
  line-height: 0;
  color: transparent;
  outline: none;
  margin-right: 11px;
}

.slick-dots li:last-child button {
  margin-right: 0;
}

.slick-dots li.slick-active button {
  background-color: #1c8abe;
}

.slider-wrapper {
  padding-left: 10px;
  padding-bottom: 40px;
  overflow: hidden;
}

.slick-list {
  overflow: visible !important;
  padding-bottom: 40px;
}

/* HEADER */

header {
  position: absolute;
  left: 0;
  top: 28px;
  width: 100%;
  z-index: 200;
  transition: all .25s linear;
}

.header-top {
  width: 100%;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  height: 50px;
  background-color: #fff;
  transition: all .25s linear;
}

.header-btn-order {
  font: 12px "MontserratSemiBold";
  color: #191d22;
  font-weight: 400;
}

.header-btn-order .inner {
  padding-left: 15px;
  background: url("img/icons/Dish-black.svg") left center no-repeat;
  background-size: 11px 10px;
}

.main-logo {
  width: 81px;
  height: 81px;
  border: 2px solid #fff;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50%;
}

.main-logo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-logo--header {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  padding-top: 0 !important;
  padding-left: 10px;
  padding-right: 10px;
}

.burger-btn {
  height: 16px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 1;
  transition: all .25s linear;
  cursor: pointer;
}

.burger-btn:active {
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}

.burger-btn span {
  transition: all .25s linear;
  width: 100%;
  height: 2px;
  background-color: #191d22;
}

.burger-btn.active {
  height: 20px;
}

.burger-btn.active .main-nav-block-mob {
  visibility: visible;
  opacity: 1;
}

.burger-btn.active .line1 {
  transform-origin: left bottom;
  transform: rotate(45deg);
}

.burger-btn.active .line3 {
  transform-origin: left top;
  transform: rotate(-45deg);
}

.burger-btn.active .line2 {
  width: 0;
  opacity: .2;
}

.main-nav-block-mob {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #caeeff;
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all .25s linear;
}

.main-nav-block-mob.active {
  visibility: visible;
  opacity: 1;
}

.main-nav-block-mob .menu {
  margin-top: 120px;
  margin-left: 40px;
  display: block;
}

.main-nav-block-mob .menu__link {
  white-space: nowrap;
  display: block;
  color: #191d22;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  margin-right: 16px;
  margin-bottom: 36px;
  transition: all .25s linear;
}

.main-nav-block-mob .menu__link:hover {
  color: #1c8abe;
}

.primary-menu {
  width: auto;
  transition: all .25s linear;
}

.primary-menu .menu {
  display: none;
  justify-content: space-between;
  margin-right: 30px;
  transition: all .25s linear;
}

.primary-menu .menu__link {
  white-space: nowrap;
  display: block;
  color: #191d22;
  font: 14px "Montserrat";
  font-weight: 500;
  letter-spacing: 0.45px;
  margin-right: 16px;
  transition: all .25s linear;
}

.primary-menu .menu__link:hover {
  color: #1c8abe;
}

.primary-menu .menu :last-child {
  margin-right: 0;
}

/* MAIN CONTENT */

.wonderpots-general {
  background: url("img/wonderpots-top/Header_BG_mob.png") center repeat-x;
  background-size: cover;
  min-height: 574px;
  padding-bottom: 50px;
}

.wonderpots-general .container {
  overflow: hidden;
  padding-top: 0 !important;
}

.wonderpots-wrapper {
  max-width: 100%;
  padding-top: 106px;
  height: 100%;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 100%;
}

.wonderpots-title {
  margin-top: 10px;
  font: 31px "MontserratBold";
  text-transform: uppercase;
  line-height: 18px;
  letter-spacing: 1.53px;
  min-width: 302px;
  text-align: center;
}

.wonderpots-title span {
  font: 52px "MontserratExtraBold";
  font-weight: 400;
  letter-spacing: 2.37px;
}

.yogurt-container {
  margin-top: -29px;
  display: flex;
  justify-content: center;
}

.yogurt {
  max-width: 380px;
  position: relative;
}

.yogurt__img {
  position: relative;
  left: 70px;
  width: 385px;
  height: 100%;
}

.yogurt__property {
  font: 18px "IndieFlower";
  color: #fff;
  position: absolute;
  text-align: center;
  line-height: 16px;
}

.yogurt__property-oganic {
  left: 40px;
  top: 79px;
}

.yogurt__property-oganic:after {
  content: '';
  background: url("img/wonderpots-top/Prop_arrows/Yogurt_prop_arrow_1.svg") center no-repeat;
  background-size: contain;
  width: 56px;
  height: 33px;
  position: absolute;
  right: -29px;
  top: -18px;
}

.yogurt__property-fresh {
  right: 43px;
  top: 72px;
}

.yogurt__property-fresh:after {
  content: '';
  background: url("img/wonderpots-top/Prop_arrows/Yogurt_prop_arrow_2.svg") center no-repeat;
  background-size: contain;
  width: 52px;
  height: 30px;
  position: absolute;
  left: -21px;
  top: -18px;
}

.yogurt__property-logo {
  left: 45px;
  bottom: 15px;
}

.yogurt__property-logo:after {
  content: '';
  background: url("img/wonderpots-top/Prop_arrows/Yogurt_prop_arrow_3.svg") center no-repeat;
  background-size: contain;
  width: 69px;
  height: 55px;
  position: absolute;
  left: 76px;
  top: -32px;
  z-index: 77;
}

.wonder-ticket {
  display: none;
}

.wonderpots__text {
  display: none;
}

.cookie-notification {
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #e9f6fc;
  margin: 0 10px;
  line-height: 18px;
  font-size: 14px;
  opacity: 0;
  padding: 0;
  transition: all .25s linear;
}

.cookie-notification.show {
  padding: 30px;
  opacity: 1;
}

.cookie-notification__agree-btn {
  min-width: 148px;
  height: 38px;
  box-shadow: 0 3px 0 #1c8abe;
  background-color: #7dccf3;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-top: 16px;
  cursor: pointer;
  font: 13px "MontserratSemiBold";
}

.cookie-notification__close {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cookie-notification__close span {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #1c8abe;
  border-radius: 3px;
  position: absolute;
}

.cookie-notification__close span:nth-child(1) {
  transform: rotate(45deg);
}

.cookie-notification__close span:nth-child(2) {
  transform: rotate(-45deg);
}

/* WONDERPOTS GENERAL */

.services .title:after {
  content: '';
  display: block;
  width: 297px;
  height: 9px;
  margin: 0 auto;
  background: url("img/title-shapes/Service.svg") center no-repeat;
  position: relative;
  background-size: contain;
  bottom: -10px;
}

.services .container.service-container {
  padding-left: 0;
  padding-right: 0;
}

.services-grid {
  min-height: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item {
  outline: none;
  margin-right: 15px;
  max-width: 183px;
  transition: all .25s linear;
}

.service-item__name {
  margin-top: 16px;
  text-align: center;
  font: 25px "MontserratSemiBold";
}

.service-item__img {
  width: 183px;
  height: 185px;
}

.service-item__description {
  display: none;
}

/* SERVICES */

.wonder-event .title:after {
  content: '';
  display: block;
  width: 100%;
  height: 9px;
  background: url("img/title-shapes/Wave.svg") center no-repeat;
  position: relative;
  background-size: contain;
  top: 10px;
  left: -88px;
  z-index: -1;
}

.wonder-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 581px;
  max-height: 562px;
  width: 70%;
}

.wonder-content p {
  margin-bottom: 10px;
}

.wonder-content .primary-btn {
  margin-top: 21px;
}

/* WONDER EVENT */

.facts {
  background: url("img/facts/Facts_BG.svg") -277px 20px no-repeat;
  background-size: cover;
}

.facts .container {
  padding-left: 0;
  padding-right: 0;
}

.facts-wrapper {
  display: flex;
  flex-direction: column;
}

.facts-img-container {
  overflow: hidden;
}

.facts-img {
  width: 320px;
  height: 383px;
  /* max-width: 290px; */
  margin: 0 auto;
}

.main-img {
  width: 430px;
  height: 383px;
  /* max-width: 290px; */
  margin: 0 auto;
  position: relative;
  background: url(img/facts/Wonderpots_img.png) center no-repeat;
  background-position-x: 100%;
  background-size: 100% 100%;
  position: relative;
  left: -130px;
}

.main-img:before {
  content: '';
  width: 581px;
  height: 115px;
  z-index: -1;
  background: url(img/facts/Wonderpots_img_shape.svg) center no-repeat;
  position: absolute;
  right: -20px;
  bottom: 30px;
}

.facts-points-container {
  background: url("img/facts/facts-points_BG.svg") 5px no-repeat;
  background-size: 100% 100%;
  max-width: 912px;
  max-height: 864px;
  box-sizing: content-box;
}

.facts-points-container .title-copy {
  font: 32px "MontserratBold";
  display: none;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px !important;
}

.facts-points {
  width: 100%;
  margin: 0 auto;
  min-height: 351px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: "IndieFlower";
  padding: 30px 0 0 13px;
}

.facts-point {
  width: 50%;
  height: 50%;
  text-align: center;
}

.facts-point__count {
  font-size: 54px;
  font-weight: 400;
  line-height: 39.7px;
  letter-spacing: 6.07px;
  margin-bottom: 18px;
}

.facts-point__name {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.29px;
}

/* FACTS */

.latest-events .title:after {
  content: '';
  display: block;
  width: 200px;
  height: 13px;
  background: url("img/title-shapes/Latest-events.svg") center no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  bottom: -10px;
}

.latest-events-slider {
  min-height: 314px;
  position: relative;
}

.latest-events-slider .slick-arrow {
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translateY(-90%);
  cursor: pointer;
  transition: all .25s linear;
}

.latest-events-slider .slider-arrow-left {
  display: block;
  width: 45px;
  height: 45px;
  background: url("img/icons/sliders/Arrow-left.svg") center no-repeat;
  left: -30px;
}

.latest-events-slider .slider-arrow-right {
  right: -30px;
  display: block;
  width: 45px;
  height: 45px;
  background: url("img/icons/sliders/Arrow-right.svg") center no-repeat;
}

.latest-events-slide {
  width: 213px;
  outline: none;
  max-height: 450px;
  box-shadow: 10px 17px 36px 2px rgba(0, 25, 36, 0.1);
  border-radius: 20px;
  margin: 0 8px;
  position: relative;
  overflow: hidden;
}

.latest-events-slide:hover .hover-block {
  visibility: visible;
  opacity: 0.9;
}

.latest-events-slide .hover-block {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #85d1f5;
  opacity: 0.9;
  color: #fff;
  text-align: center;
  line-height: 70px;
  font: 18px "MontserratSemiBold";
  transition: all .25s linear;
  opacity: 0;
}

.latest-events-slide .hover-block span {
  line-height: 70px;
}

.latest-events-slide img {
  width: 100%;
  height: 100%;
}

/* LATEST EVENTS */

.toppings .title-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 0 75px 0 75px;
  margin-bottom: 36px;
}

.toppings .title {
  position: relative;
  display: inline;
}

.toppings .title:before {
  content: '';
  display: block;
  width: 70px;
  height: 50px;
  background: url("img/title-shapes/Wing-left.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 7px;
  left: 0;
  transform: translateX(-110%);
}

.toppings .title:after {
  content: '';
  display: block;
  width: 65px;
  height: 50px;
  background: url("img/title-shapes/Wing-right.svg") center no-repeat;
  background-size: contain;
  position: absolute;
  top: 7px;
  right: 0;
  transform: translateX(125%);
}

.container.toppings-container {
  padding-left: 0;
  padding-right: 0;
}

.toppings-slider {
  display: grid;
  grid-gap: 67px;
  grid-template-columns: repeat(auto-fill, 166px);
  justify-content: space-between;
}

.toppings-slide {
  width: 166px;
  height: 166px;
  margin-right: 11px;
}

#toppings-slider-arrows .slick-prev {
  display: none !important;
}

#toppings-slider-arrows {
  display: flex;
  justify-content: center;
}

#toppings-slider-arrows .next-slide-btn {
  border: none;
  background-color: unset;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  transition: all .25s linear;
  padding-right: 50px;
  background: url("img/icons/Arrow-right.svg") center right no-repeat;
}

.toppings-slide__continue {
  line-height: 100%;
  color: #85d1f5;
  font-size: 30px;
  font-weight: 700;
  line-height: 150px;
  /* Text style for "t, o be co" */
  letter-spacing: 0.75px;
  min-width: 300px;
}

/* TOPPINGS */

.unigue {
  background: url("img/unique/Unique_ContactForm_BG.svg") center;
  background-size: 190%;
  padding-bottom: 50px;
  position: relative;
}

.unigue--container {
  padding-top: 0 !important;
}

.unique-blocks--container {
  position: relative;
}

.unique-blocks--container:before {
  display: none;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 20%;
  background: url("img/unique/Line.svg") center repeat-x;
}

.unique-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  max-width: 1335px;
  padding: 0 7%;
  margin: 0 auto;
  position: relative;
}

.unique-item {
  width: 126px;
  height: 126px;
  box-shadow: 4px 6px 0 #3ba7da;
  background-color: #85d1f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
  font: 23px "IndieFlower";
  font-weight: 400;
  line-height: 25.71px;
  letter-spacing: 0.89px;
  margin-bottom: 43px;
}

.unique-item:last-child {
  padding-top: 0;
}

/* UNIQUE */

.booking__title {
  font: 28px "MontserratBold";
  margin-bottom: 36px;
}

.contact-form {
  margin-top: 24px;
}

.contact-form__input {
  padding-left: 50px;
  padding-right: 20px;
  outline: none;
  width: 100%;
  height: 46px;
  box-shadow: 2px 4px 10px #dedede;
  border: 1px solid #f3f3f3;
  border-radius: 25px;
  font: 13px "Montserrat";
  background-color: #fff;
  margin-bottom: 11px;
}

.contact-form__input::placeholder {
  color: #d4d4d4;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.39px;
}

.contact-form__input-name {
  background: #fff url("img/icons/form-icons/user.svg") 15px center no-repeat;
  background-size: 17px 19px;
}

.contact-form__input-email {
  background: #fff url("img/icons/form-icons/email.svg") 15px center no-repeat;
  background-size: 17px 17px;
}

.contact-form__textarea {
  max-width: 100%;
  min-height: 104px;
  padding-top: 13px;
  margin-bottom: 30px;
  padding-bottom: 12px;
  background: #fff url("img/icons/form-icons/edit.svg") 15px 13px no-repeat;
  background-size: 17px 17px;
}

.contact-form .primary-btn--submit {
  margin: 0;
}

/* CONTACT FORM */

footer {
  background: url("img/footer/Footer_BG_mob.png") center repeat-x;
  min-height: 592px;
}

footer .container {
  padding-top: 28px;
}

.footer-wrapper {
  display: grid;
  font-size: 11px;
}

.title-bold {
  font: 13px "MontserratBold";
}

.main-logo--footer {
  grid-column: 1/2;
  justify-self: flex-start;
}

.footer-social {
  grid-column: 2/3;
  justify-self: flex-end;
  align-self: center;
}

.social {
  display: flex;
}

.social__item {
  position: relative;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: rgba(28, 138, 190, 0.59);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: rgba(28, 138, 190, 0.78);
}

.social__icon {
  fill: #fff;
  width: 8px;
  height: 12px;
}

.social__icon-twitter {
  width: 11px;
  height: 10px;
}

.social__icon-google {
  width: 16px;
  height: 11px;
}

.footer-about-us {
  margin-top: 14px;
  grid-column: 1/3;
}

.footer-about-us__title {
  margin-bottom: 12px;
}

.footer-about-us__text {
  font-weight: 400;
  letter-spacing: 0.52px;
}

.footer-pictures {
  display: flex;
  justify-self: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  grid-column: 1/3;
  max-width: 513px;
}

.footer-pictures__img {
  width: 32%;
  max-width: 148px;
  max-height: 89px;
  object-fit: contain;
}

.footer-stores {
  margin-top: 16px;
  grid-column: 1/3;
}

.footer-stores__title {
  margin-bottom: 12px;
}

.store {
  margin-bottom: 21px;
}

.store__title {
  line-height: 13px;
  font: 13px "MontserratBold";
  font-weight: 700;
  letter-spacing: 0.52px;
  text-transform: uppercase;
}

.footer-copyright {
  grid-column: 1/3;
  font: 11px "MontserratBold";
  font-weight: 700;
  line-height: 11.56px;
  text-transform: uppercase;
  letter-spacing: 0.52px;
  text-align: center;
}

/* FOOTER */

@media only screen and (min-width: 400px) {
  .container {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding-top: 70px;
  }

  .slider-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
  }

  .slick-list {
    overflow: hidden !important;
  }

  .cookie-notification.show {
    padding: 10px 74px 10px 108px;
  }

  .cookie-notification {
    background: #e9f6fc url("img/wonderpots-top/cookie-notification-icon.svg") 20px center no-repeat;
    flex-direction: row;
    background-position: 35px center;
    margin: 0;
  }

  .cookie-notification__agree-btn {
    margin-top: 0;
    margin-left: 21px;
  }

  .services .container.service-container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .services .slider-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .service-item {
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .service-item__info {
    margin-left: 50px;
  }

  .service-item__name {
    margin-top: 0;
    margin-bottom: 24px;
    text-align: left;
  }

  .service-item__description {
    display: block;
  }

  .service-item:first-child {
    margin-bottom: 20px;
  }

  .wonder-event .container {
    padding-bottom: 60px;
  }

  .wonder-event-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wonder-event-wrapper .wonder-title {
    grid-column: 2;
    grid-row: 1;
    text-align-last: left;
    margin-bottom: 40px;
  }

  .wonder-event-wrapper .wonder-title:after {
    background-position: left;
    width: 372px;
    height: 16px;
    left: -30%;
  }

  .wonder-event-wrapper .wonder-img {
    grid-column: 1;
    grid-row: 1/3;
    margin: 0;
    width: 80%;
  }

  .wonder-event-wrapper .wonder-content {
    grid-column: 2;
    grid-row: 2;
  }

  .wonder-event-wrapper .wonder-content .primary-btn {
    margin: 0;
    margin-top: 21px;
  }

  .facts {
    background-position: 20px 0%;
  }

  .facts .container {
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 50px;
  }

  .facts-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .facts-img-container {
    width: 41%;
    overflow: visible;
  }

  .facts-points-container {
    width: 45%;
    margin: 0;
    padding: 20px;
  }

  .latest-events-slide {
    margin: 0 20px;
    margin-bottom: 40px;
    box-shadow: 6px 7px 15px 4px rgba(0, 25, 36, 0.1);
  }

  .container.toppings-container {
    padding-left: 7%;
    padding-right: 7%;
  }

  .topping-slider-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .unique-blocks--container:before {
    display: block;
  }

  .booking-wrapper {
    background: url("img/unique/Paper_BG.svg") top center no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .booking {
    padding: 10%;
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .booking__info {
    width: 50%;
    max-width: 411px;
  }

  .booking__form {
    width: 45%;
    max-width: 454px;
  }

  .contact-form {
    margin-top: 0;
  }

  .contact-form__textarea {
    margin-bottom: 11px;
  }

  footer {
    background: url("img/footer/Footer_BG_desk.png") center repeat-x;
    min-height: 459px;
  }

  .footer-wrapper {
    margin-top: 20px;
    grid-template-columns: 30% 36% 30%;
    grid-column-gap: 2%;
    line-height: 22px;
  }

  .footer-social {
    justify-self: center;
    grid-column: 2/3;
  }

  .footer-about-us {
    grid-column: 1/2;
  }

  .footer-pictures__img {
    max-height: 148px;
  }

  .footer-pictures {
    grid-column: 2/3;
    margin-top: 0;
  }

  .footer-stores {
    grid-column: 3;
    grid-row: 1/3;
    margin-top: 30px;
  }

  .footer-copyright {
    grid-column: 1/4;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
    line-height: 25px;
  }

  .container {
    padding-top: 90px;
  }

  .title {
    font-size: 32px;
    margin-bottom: 60px;
  }

  header {
    top: 51px;
  }

  .header-top {
    height: 74px;
  }

  .header-btn-order {
    width: 176px;
    height: 44px;
    border-radius: 25px;
    line-height: 44px;
    box-shadow: 0 5px 0 #1c8abe;
    text-align: center;
    font-size: 16px;
    display: block;
    background-color: #7dcdf3;
    color: #ffffff;
    margin-top: -5px;
  }

  .header-btn-order .inner {
    padding-left: 30px;
    background: url("img/icons/Dish-white.svg") left center no-repeat;
    background-size: 19px 17px;
  }

  .main-logo {
    left: 8%;
    transform: unset;
    width: 138px;
    height: 138px;
  }

  .header-container {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .burger-btn {
    display: none;
  }

  .main-nav-block-mob {
    display: none;
  }

  .primary-menu {
    width: 60%;
  }

  .primary-menu .menu {
    display: flex;
  }

  .wonderpots-general {
    min-height: 1000px;
    background: url("img/wonderpots-top/Header_BG_desk.png") center repeat-x;
    padding-bottom: 0;
  }

  .wonderpots-general .primary-btn {
    margin: 0;
  }

  .wonderpots-wrapper {
    grid-template-columns: 1fr 1fr;
    padding-top: 188px;
  }

  .wonderpots-title-wrapper {
    max-width: 650px;
  }

  .wonderpots-title {
    grid-row: 1/2;
    text-align: left;
    font-size: 38px;
  }

  .wonderpots-title span {
    font-size: 64px;
    line-height: 80px;
  }

  .yogurt-container {
    margin-top: 0;
    grid-column: 2;
    grid-row: 1/3;
    max-height: 620px;
  }

  .yogurt__img {
    height: 611px;
    width: auto;
    left: 0;
  }

  .yogurt {
    left: -50px;
  }

  .yogurt__property {
    font-size: 31px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 2.51px;
  }

  .yogurt__property-oganic {
    left: -71px;
    top: 99px;
  }

  .yogurt__property-oganic:after {
    width: 116px;
    height: 68px;
    right: -59px;
    top: -38px;
  }

  .yogurt__property-fresh {
    right: -145px;
    top: 131px;
  }

  .yogurt__property-fresh:after {
    width: 107px;
    height: 62px;
    left: -51px;
    top: -38px;
  }

  .yogurt__property-logo {
    left: -66px;
    bottom: -5px;
  }

  .yogurt__property-logo:after {
    width: 144px;
    height: 115px;
    left: 151px;
    top: -76px;
  }

  .wonder-ticket {
    width: 335px;
    height: 97px;
    margin-top: 70px;
    margin-bottom: 64px;
    display: block;
    text-align: center;
    background: url("img/wonderpots-top/wonder-tcket-bg.svg") center no-repeat;
  }

  .wonder-ticket__inner {
    color: #2c3137;
    font-family: "Sacramento";
    font-size: 55px;
    font-weight: 400;
    line-height: 97px;
    display: inline-block;
    transform: rotate(-2.5deg);
  }

  .wonderpots__text {
    margin-top: 22px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .service-item {
    max-width: 610px;
  }

  .facts .facts-title {
    display: none;
  }

  .main-img {
    margin-top: 100px;
    width: 480px;
    height: 390px;
    left: -180px;
  }

  .main-img:before {
    width: 623px;
    height: 160px;
    right: -80px;
    bottom: -10px;
  }

  .facts-points-container .title-copy {
    display: block;
  }

  .facts-points-container {
    padding: 50px 80px 50px 50px;
  }

  .toppings .title-wrapper {
    font-size: 32px;
    margin-bottom: 60px;
  }

  .unigue {
    background-size: 100%;
  }

  .unique-blocks--container:before {
    height: 200px;
    top: 15%;
  }

  .unique-item {
    width: 196px;
    height: 196px;
    font-size: 36px;
    line-height: 40px;
  }

  .unique-item:nth-child(even) {
    margin-top: 120px;
  }

  .booking__info {
    font-size: 15px;
    line-height: 25px;
  }

  .booking__title {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .contact-form__input {
    font-size: 15px;
  }

  .footer-wrapper {
    font-size: 14px;
  }

  .title-bold {
    font-size: 16px;
  }

  .social__item {
    width: 61px;
    height: 61px;
    margin-right: 19px;
  }

  .social__link {
    width: 53px;
    height: 53px;
  }

  .social__icon {
    width: 11px;
    height: 20px;
  }

  .social__icon-twitter {
    width: 19px;
    height: 16px;
  }

  .social__icon-google {
    width: 24px;
    height: 16px;
  }

  .footer-about-us__title {
    margin-bottom: 20px;
  }

  .footer-stores {
    padding-left: 20px;
    margin-top: 56px;
  }

  .footer-stores__title {
    margin-bottom: 20px;
  }

  .footer-copyright {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    padding-top: 120px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 90px;
  }

  .primary-menu .menu {
    margin-right: 60px;
  }

  .primary-menu .menu__link {
    font-size: 18px;
  }

  .wonderpots-general .primary-btn {
    margin-top: 50px;
    width: 196px;
    height: 67px;
    font-size: 18px;
    font-weight: 400;
    line-height: 67px;
    border-radius: 40px;
  }

  .wonderpots-title {
    font-size: 56px;
  }

  .wonderpots-title span {
    font-size: 94px;
    line-height: 125px;
  }

  .services-grid {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .service-item {
    width: 48%;
  }

  .service-item:first-child {
    margin-bottom: 45px;
  }

  .wonder-event-wrapper .wonder-title:after {
    top: 20px;
  }

  .wonder-event-wrapper .wonder-content .primary-btn {
    margin-top: 30px;
  }

  .facts {
    background-size: contain;
    background-position: 100px center;
  }

  .main-img {
    margin-top: 60px;
    width: 560px;
    height: 480px;
    left: -220px;
  }

  .main-img:before {
    width: 823px;
    height: 160px;
    right: -140px;
    bottom: -10px;
  }

  .facts-points-container .title-copy {
    font-size: 44px;
    margin-bottom: 90px;
  }

  .facts-points-container {
    padding: 90px 120px 50px 90px;
  }

  .latest-events .title:after {
    width: 300px;
    height: 20px;
    bottom: -20px;
  }

  .toppings .title-wrapper {
    font-size: 36px;
    margin-bottom: 90px;
  }

  .booking__title {
    font-size: 36px;
  }

  .contact-form__input {
    height: 58px;
  }

  .contact-form__textarea {
    min-height: 132px;
    margin-bottom: 46px;
  }

  .main-logo--footer {
    margin-bottom: 20px;
  }

  .footer-stores {
    padding-left: 90px;
  }
}

@media only screen and (min-width: 1600px) {
  .container {
    padding-top: 150px;
  }

  .container.slider-container {
    max-width: 1475px;
  }

  .title {
    font-size: 40px;
    margin-bottom: 110px;
  }

  .primary-btn {
    width: 195px;
    height: 58px;
    line-height: 58px;
    border-radius: 50px;
  }

  .primary-menu {
    width: 67%;
  }

  .primary-menu .menu {
    margin-right: 89px;
  }

  .wonderpots-title {
    font-size: 67px;
  }

  .wonderpots-title span {
    font-size: 113px;
    line-height: 170px;
  }

  .yogurt {
    left: 0;
  }

  .services .title:after {
    width: 422px;
    height: 20px;
    bottom: -20px;
  }

  .service-item:first-child {
    margin-bottom: 70px;
  }

  .wonder-event-wrapper .wonder-title:after {
    top: 30px;
  }

  .wonder-event-wrapper .wonder-content .primary-btn {
    margin-top: 49px;
  }

  .facts {
    background-position: 80px center;
  }

  .facts-img {
    width: auto;
    height: auto;
  }

  .main-img {
    width: 710px;
    height: 600px;
  }

  .main-img:before {
    width: 1023px;
    height: 204px;
    right: -100px;
    bottom: -10px;
  }

  .facts-points-container .title-copy {
    margin-bottom: 100px !important;
    font-size: 55px;
    margin-bottom: 110px;
  }

  .facts-points-container {
    padding: 110px 110px 70px 110px;
  }

  .facts-points {
    margin: 0;
    padding: 0;
    height: 370px;
  }

  .facts-point__count {
    font-size: 68px;
  }

  .facts-point__name {
    font-size: 32px;
    line-height: 36.05px;
  }

  .toppings .title-wrapper {
    font-size: 40px;
    margin-bottom: 110px;
  }

  .toppings .title:before {
    width: 128px;
    height: 82px;
    transform: translateX(-130%);
  }

  .toppings .title:after {
    width: 139px;
    height: 90px;
    transform: translateX(130%);
  }

  .unique-blocks--container:before {
    height: 200px;
    top: 15%;
  }

  .booking {
    padding: 140px 100px;
  }

  .booking__title {
    font-size: 40px;
    margin-bottom: 59px;
  }

  .footer-stores {
    padding-left: 120px;
  }
}