$image_dir:'img/';


$Montserrat: 'Montserrat';
$MontserratBold: 'MontserratBold';
$MontserratSemiBold: 'MontserratSemiBold';
$MontserratExtraBold: 'MontserratExtraBold';
$IndieFlower: 'IndieFlower';
$Sacramento: 'Sacramento';


$primaryTextColor: #191d22;

$maxContentWidth: 1335px;

$sidePaddingsMob: 11px;
$sidePaddingsMain: 7%;
