$image_dir:'img/';


$Montserrat: 'Montserrat';
$MontserratBold: 'MontserratBold';
$MontserratSemiBold: 'MontserratSemiBold';
$MontserratExtraBold: 'MontserratExtraBold';


$primaryTextColor: #191d22;

$sidePaddingsMob: 10px;
$sidePaddingsMain: 7%;
