/* FONTS */

@font-face {
    font-family: 'Montserrat';
    src:  url("Montserrat/Montserrat-Regular.ttf") format("opentype");
    font-display: block;
}

@font-face {
    font-family: 'MontserratBold';
    src: url("Montserrat/Montserrat-Bold.ttf") format("opentype");
    font-display: block;
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url("Montserrat/Montserrat-SemiBold.ttf") format("opentype");
    font-display: block;
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url("Montserrat/Montserrat-ExtraBold.ttf") format("opentype");
    font-display: block;
}
@font-face {
    font-family: 'IndieFlower';
    src: url("IndieFlower.ttf") format("opentype");
    font-display: block;
}
@font-face {
    font-family: 'Sacramento';
    src: url("Sacramento-Regular.ttf") format("opentype");
    font-display: block;
}


@font-face {
    font-family: 'Gill';
    src: url("Gill/GillSansMTPro-Book.otf") format("opentype");
    font-display: block;
}
@font-face {
    font-family: 'Gill-Light';
    src: url("Gill/GillSansMTPro-Light.otf") format("opentype");
    font-display: block;
}
@font-face {
    font-family: 'Gill-Bold';
    src: url("Gill/GillSansMTPro-Bold.otf") format("opentype");
    font-display: block;
}
