.booking-wrapper{
  padding: 10% 0; 
  outline: none;
  @include screen-tb{
    @include bgi('unique/Paper_BG.svg',top center no-repeat);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 945px;
    // max-height: 712px; 
    margin: 0 auto;
  }
  @include screen-lg{
    padding: 140px 0;
  }
}
.booking{
  margin: 0 auto;
  max-width: 554px;
  position: relative;
  visibility: visible;
  @include transition();
  &__main{
    @include transition();
    opacity: 1;
    visibility: visible;
    &.hide{
      opacity: 0;
      visibility: hidden;
    }
  }
  @include screen-tb{

    width: 90%;
    &__info{

    }
    &__form{
    
    }
  }
 
  @include screen-lp{
    &__info{
      font-size: 15px;
      line-height: 25px;
    }
  }
}
.booking__title{
  @include font(28px, $MontserratBold);
  margin-bottom: 36px;
  text-align: center;
  @include screen-lp{
    margin-bottom: 24px;
    font-size: 32px;
  }
  @include screen-md{
    font-size: 36px;
  }
  @include screen-lg{
    font-size: 40px;
    margin-bottom: 59px;
  }
}
.result-box-wrapper{
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  top: 0;
  &.show{
    visibility: visible;
    opacity: 1;
  }
  @include transition();
  .result-box{
    top: 0;
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__main-logo{
      margin: 20px 0 16px 0;
      order: unset;
      @include screen-lp{
        margin: 70px 0 40px 0;
      }
    }
    .result-title{
      text-align: center;
      font-weight: 700;
      letter-spacing: 1px;
      @include font(28px, $MontserratBold);
      margin-bottom: 36px;
      &--left{
        text-align: left;
      }
      @include screen-lp{
        font-size: 32px;
        margin-bottom: 20px;
      }
      @include screen-md{
        font-size: 36px;
        margin-bottom: 26px;
      }
      @include screen-lg{
        font-size: 40px;
        margin-bottom: 30px;
      }
    }
    p{
      color: #3ca7db;
      font-size: 20px;
      font-weight: 400;
      line-height: 34.99px;
      text-align: center;
    }
    &__succsess{
      z-index: -1;
      &.show{
        opacity: 1;
        z-index: 99;
      }
    }
    &__error{
      z-index: -1;
      &.show{
        z-index: 99;
        opacity: 1;
      }
    }
  }
  .close-btn{
    position: absolute;
    cursor: pointer;
    right: 0;
    display: block;
    z-index: 100;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    span{
      display: block;
      width:20px;
      height: 2px;
      background-color: #191d22; 
      position: absolute;
      &:first-child{
        transform: rotate(45deg);
      }
      &:last-child{
        transform: rotate(-45deg);
      }
    }
  }
}
.contact-form{
  margin-top: 24px;
  @include screen-tb{
    margin-top: 0;
  }
  &__input{
    padding-left: 50px;
    padding-right: 20px;
    outline: none;
    width: 100%;
    height: 46px;
    box-shadow: 2px 4px 10px #dedede;
    border: 1px solid #f3f3f3;
    border-radius: 25px;
    @include font(13px, $Montserrat);
    
    background-color: #fff;
    margin-bottom: 11px;
    @include screen-lp{
      font-size: 15px;
    }
    @include screen-md{
      height: 58px;
    }
    &::placeholder{
      color: #d4d4d4;
      font-size: 15px;
      font-weight: 400;
      letter-spacing: 0.39px;
    }
    /////////////////
    &-name{
      background:#fff url("#{$image_dir}icons/form-icons/user.svg") 15px center no-repeat;
      background-size: 17px 19px;
    }
    &-email{
      background:#fff url("#{$image_dir}icons/form-icons/email.svg") 15px center no-repeat;
      background-size: 17px 17px;
    }
  }
  &__textarea{
    max-width: 100%;
    min-height: 104px;
    padding-top: 13px;
    margin-bottom: 30px;
    padding-bottom: 12px;
    background:#fff url("#{$image_dir}icons/form-icons/edit.svg") 15px 13px no-repeat;
    background-size: 17px 17px;
    @include screen-tb{
      margin-bottom: 11px;
    }
    @include screen-md{
      min-height: 132px;
      margin-bottom: 36px;
    }
  }
  .redBorder{
    border:1px solid rgba(242, 38, 19, .5);
  }
  .primary-btn--submit{ 
    margin: 0;
  }
}