.primary-btn{
  width: 204px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #ffffff; 
  text-align: center;
  color: $primaryTextColor;
  font-size: 16px;
  font-family: $GillMedium;
  // font-weight: 600;
  display: block;
  margin: 0 auto;
  @include transition();
  text-transform: uppercase;
  padding-top: 2px;
  &:hover{
    background-color: #e6f9ff;
  }
  @include screen-md{
    width: 245px;
    height: 58px;
    line-height: 58px;
    border-radius: 50px;
  }
  
  &--blue{
    width: 204px;
    background-color: #7dcdf3;
    box-shadow: 0 5px 0 #1c8abe;
    color: #ffffff;
    &:hover{
      background-color: #92d5f4;
    }
  }
  &--submit{
    border:none;
    cursor: pointer;
    outline: none;
  }
  .inner{
    background: url("#{$image_dir}icons/Dish-white.svg") left 0 no-repeat;
    background-size: 17px 13px;
    padding-left: 22px;
    @include screen-lp{
      background-size: 20px 16px;
      padding-left: 37px;
    }
  }
} 