.primary-btn{
  width: 168px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #ffffff; 
  text-align: center;
  color: $primaryTextColor;
  font-size: 15px;
  font-family: $MontserratSemiBold;
  display: block;
  margin: 0 auto;
  &--blue{
    box-shadow: 0 5px 0 #1c8abe;
    background-color: #7dcdf3;
    color: #ffffff;
  }
  &--submit{
    border:none;
    cursor: pointer;
    outline: none;
  }
} 