.primary-btn{
  width: 168px;
  height: 50px;
  border-radius: 25px;
  line-height: 50px;
  box-shadow: 0 5px 0 #1c8abe;
  background-color: #ffffff; 
  text-align: center;
  color: $primaryTextColor;
  font-size: 15px;
  font-family: $MontserratSemiBold;
  display: block;
  margin: 0 auto;
  @include screen-lg{
    width: 195px;
    height: 58px;
    line-height: 58px;
    border-radius: 50px;
  }
  
  &--blue{
    background-color: #7dcdf3;
    box-shadow: 0 5px 0 #1c8abe;
    color: #ffffff;
  }
  &--submit{
    border:none;
    cursor: pointer;
    outline: none;
  }
  .inner{
    background: url("#{$image_dir}icons/Dish-white.svg") left 4px no-repeat;
    background-size: 17px 13px;
    padding-left: 22px;
  }
} 