.facts{
  @include bgi('facts/Facts_BG.svg', -150px center  no-repeat);
    background-size: 300% 100%;
    padding-bottom: 38px;
    padding-top: 30px;
    margin-top: 50px;
  @include screen-tb{
    padding-bottom: 60px;
    background-size:150% 100%;
    background-position: -100px center;
  }
  @include screen-md{
    // background-position: 100px center;
    padding-top: 0;
    margin-top: 0;
  }
  @include screen-lg{
    margin-top: 139px;
    background-size: 120% 100%;
    background-position: -31px center;
    padding-bottom: 38px;
  }
  .container{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    @include screen-tb{
      padding-left: $sidePaddingsMain;
      padding-right: $sidePaddingsMain;
      // padding-bottom: 50px;
    }
    
  }
  .facts-title{
    @include screen-lp{
      display: none;
    }
  }
}

.facts-wrapper{
  display: flex;
  flex-direction: column;
  @include screen-tb{
    flex-direction: row;
    justify-content: space-between;
  }
}
.facts-img-container{
  overflow: hidden;
  @include screen-tb{
    width: 41%;
    overflow: visible;
  }
}
.facts-img{
  width: 320px;
  height: 383px;
  /* max-width: 290px; */
  margin: 0 auto;
  @include screen-lg{
    width: auto;
    height: auto;
  }

}    
.main-img{
  width: 430px;
  height: 383px;
  /* max-width: 290px; */
  margin: 0 auto;
  position: relative;
  background: url(img/facts/Wonderpots_img.png) center no-repeat;
  background-position-x: 100%;
  background-size: 100% 100%;
  position: relative;
  left: -130px;
  @include screen-lp{
    margin-top: 100px;
    width: 480px;
    height: 390px;
    left: -180px;
  }
  @include screen-md{
    margin-top: 100px;
    width: 631px;
    height: 550px;
    left: -208px;
  }
  &:before{
    content: '';
    width: 581px;
    height: 115px;
    z-index: -1;
    background: url(img/facts/Wonderpots_img_shape.svg) center no-repeat;
    position: absolute;
    right: -20px;
    bottom: 30px;
    @include screen-lp{
      width: 623px;
      height: 160px;
      right: -80px;
      bottom: -10px;
    }
    @include screen-md{
      width: 823px;
      height: 160px;
      right: -140px;
      bottom: -10px;
    }
    @include screen-lg{
      width: 858px;
      height: 151px;
      right: -119px;
      bottom: 29px;
    }
  }
}




.facts-points-container{
  overflow: hidden;
  max-width: 912px;
  max-height: 864px;
  box-sizing: content-box;
  position: relative;
  width: 100%;
  @include screen-tb{
    overflow: visible;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    @include bgi('facts/Paint splash.svg', 5px no-repeat);
    background-size: 100% 100%;
    width: 150%;
    height: 115%;
    top: -20px;
    left: -84px;
    @include screen-tb{
      width: 115%;
      height: 113%;
      left: -30px;
    }
    @include screen-sm{
      width: 125%;
      height: 113%;
    }
    @include screen-md{
      width: 124%;
    height: 115%;
    left: -80px;
    }
  }
  & .title-copy{
    @include font(32px, $MontserratBold);
    display: none;
    font-weight: 700;
    line-height: 58px;
    text-align: center;
    width: 100%;
    z-index: 99;
    position: relative;
    margin-bottom: 30px;
    @include screen-lp{
      display: block;
    }
    @include screen-md{
      font-size: 36px;
      margin-bottom: 40px;
      margin-left: 10px;
    }
    @include screen-lg{
      margin-bottom: 50px;
      
      font-size: 40px;
      line-height: 45px;
      letter-spacing: -2.8px;
    }
  }
  @include screen-tb{
    margin: 0;
    padding: 20px;
  }
  @include screen-lp{
    padding: 50px 80px 50px 50px;
  }
  @include screen-md{
    padding: 90px 120px 50px 90px;
  }
  @include screen-lg{
    padding: 99px 42px 66px 67px;
  }
}
.facts-points{
  width: 100%;
  max-width: 350px; 
  // height: 100%;
  margin: 0 auto; 
  min-height: 351px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: $IndieFlower;
  z-index: 99;
  position: relative;
  padding: 30px 0 20px 13px;
  @include screen-tb{
    max-width: 85%; 
  } 
  @include screen-lg{
    max-width: 100%; 
  } 
  @include screen-lg{
    margin: 0;
    padding: 0;
    height: 370px;
  }
  
}
.facts-point{
  width: 50%;
  height: 50%;
  text-align: center;
  
  &__count{
    font-size: 54px;
    font-weight: 400;
    line-height: 39.7px;
    letter-spacing: 6.07px;
    margin-bottom: 25px;
    @include screen-lg{
      font-size: 65px;
    }
  }
  &__name{
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
    @include screen-lg{
      font-size: 28px;
      line-height: 31.05px;
    }
  }
}