.facts{
  @include bgi('facts/Facts_BG.svg', -277px  no-repeat);
  background-size: cover;
}
// Wonderpots_img.png


.facts-img-wrapper{
  @include bgi('facts/Wonderpots_img_shape.svg', 100% 100% no-repeat);
  background-size: 581px 115px;
  width: 100%;
  height: 320px;
  max-width: 580px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  img{
    object-fit: contain;
    width: 401px;
    height: 350px;
    position: absolute;
    right: 36px;
  }
}
.facts-points{
  /* Style for "Vector Sma" */
  width: 100%;
  max-width: 322px;
  margin: 0 auto; 
  height: 351px;
  @include bgi('facts/facts-points_BG.png', 5px no-repeat);
  background-size: contain;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: $IndieFlower;
  padding-left: 13px;
  padding-top: 40px;
}
.facts-point{
  width: 50%;
  height: 50%;
  text-align: center;
  &__count{
    font-size: 54px;
    font-weight: 400;
    line-height: 39.7px;
    letter-spacing: 6.07px;
    margin-bottom: 18px;
  }
  &__name{
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.29px;
  }
}