footer{
  @include bgi('footer/Footer_BG_mob.png', center);
  min-height: 592px;
  @include screen-tb{
    @include bgi('footer/Footer_BG_desk.png', center repeat-x);
    min-height: 459px;
  }
  .container{
    padding-top: 28px;
  }
}
.footer-wrapper{
  display: grid;
  font-size: 11px;
  
  @include screen-tb{
    margin-top: 20px;
    grid-template-columns: 30% 36% 30%;
    grid-column-gap: 2%;
    line-height: 22px;
  }
  @include screen-lp{
    font-size: 14px;
  }

}
.title-bold{
  @include font(13px, $MontserratBold);
  @include screen-lp{
    font-size: 16px;
  }
}
.main-logo--footer{
  grid-column: 1/2;
  justify-self: flex-start;
  @include screen-md{
    margin-bottom: 20px;
  }
}
.footer-social{
  grid-column: 2/3;
  justify-self: flex-end;
  align-self: center;
  @include screen-tb{
    justify-self: center;
    grid-column: 2/3;
  }
  
}
.social{
  display: flex;
  &__item{
    position: relative;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: 	rgba(28, 138, 190,.59);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 9px;
    &:last-child{
      margin-right: 0;
    }
    @include screen-lp{
      width: 61px;
      height: 61px;
      margin-right: 19px;
    }
  }
  &__link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background-color: 	rgba(28, 138, 190,.78);
    @include screen-lp{
      width: 53px;
      height: 53px;
    }
  }
  &__icon{
    fill: #fff;
    width: 8px;
    height: 12px;
    @include screen-lp{
      width: 11px;
      height: 20px;
    }
    &-twitter{
      width: 11px;
      height: 10px;
      @include screen-lp{
        width: 19px;
        height: 16px;
      }
    }
    &-google{
      width: 16px;
      height: 11px;
      @include screen-lp{
        width: 24px;
        height: 16px;
      }
    }
  }
}

.footer-about-us{
  margin-top: 14px;
  grid-column: 1/3;
  &__title{
    margin-bottom: 12px;
    @include screen-lp{
      margin-bottom: 20px;
    }
  }
  &__text{
    font-weight: 400;
    letter-spacing: 0.52px;
  }
  @include screen-tb{
    grid-column: 1/2;
  }
}
.footer-pictures{
  display: flex;
  justify-self: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 16px;
  grid-column: 1/3;
  max-width: 513px;
  &__img{
    width: 32%;
    max-width: 148px;
    max-height: 148px;
    object-fit: contain;
  }
  @include screen-tb{
    grid-column: 2/3;
    margin-top: 0;
  }
}

.footer-stores{
  margin-top: 16px;
  grid-column: 1/3;
  @include screen-tb{
    grid-column: 3;
    grid-row: 1/3;
    margin-top: 30px;
  }
  @include screen-lp{
    padding-left: 20px;
    margin-top: 56px;
  }
  @include screen-md{
    padding-left: 90px;
  }
  @include screen-lg{
    padding-left: 120px;
  }

  &__title{
    margin-bottom: 12px;
    @include screen-lp{
      margin-bottom: 20px;
    }
  }
}
.store{
  margin-bottom: 21px;
  &__title{
    line-height: 13px;
    @include font(13px, $MontserratBold);
    font-weight: 700;
    letter-spacing: 0.52px;
    text-transform: uppercase;
  }
}
.footer-copyright{
  grid-column: 1/3;
  @include font(11px, $MontserratBold);
  font-weight: 700;
  line-height: 11.56px;
  text-transform: uppercase;
  letter-spacing: 0.52px;
  text-align: center;
  @include screen-tb{
    grid-column: 1/4;
  }
  @include screen-lp{
    font-size: 13px;
  }
}