*{
  box-sizing: border-box;
}
body{
  @include font(13px, $Montserrat);
  color: $primaryTextColor;
  &.no-scroll{
    overflow: hidden;
  }
}

.container{
  max-width: 1335px;
  box-sizing: content-box;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 0;
  padding-left: $sidePaddingsMob;
  padding-right: $sidePaddingsMob;
  @include screen-sm{
    padding-left: $sidePaddingsMain;
    padding-right: $sidePaddingsMain;
  }
  // outline: 1px solid red;
  
  &-nopadding{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  &-nopadding__right{
    padding-right: 0;
  }
  &-nopadding__sides{
    padding-right: 0;
    padding-left: 0;
  }
}

.title{
  text-align: center;
  @include font(28px, $MontserratBold);
  margin-bottom: 36px;
  &--left{
    text-align: left;
  }
}