header{
  background: url("#{$image_dir}header/Header_BG.png") center;
  min-height: 574px;
  position: relative;
}
.header-top{
  width: 100%;
  left: 0;
  top: 28px;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);

  height: 50px;
  background-color: #fff;
  position: absolute;
  &__order-link{
    padding-left: 15px;
    @include bgi('icons/Dish-black.svg', left center no-repeat);
    background-size: 11px 10px;
    @include font(12px,$MontserratSemiBold);
    color: $primaryTextColor;
    font-weight: 400;
  }
  &__logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
.main-logo{
  width: 81px;
  height: 81px;
  background-color: #fff;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.07);
  border-radius: 50%; 
}
.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 0 13px;
}

.burger-btn{
  height: 16px;
  width: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-btn span{
  width: 100%;
  height: 2px;
  background-color: $primaryTextColor;
}
.title-logo{
  max-width: 100%;
  padding-top: 106px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.header-title{
  margin-top: 10px;
  @include font(31px, $MontserratBold);
  text-transform: uppercase;
  line-height: 18px; 
  letter-spacing: 1.53px;
  min-width: 302px;
  span{
    @include font(52px, $MontserratExtraBold);
    font-weight: 400;
    letter-spacing: 2.37px;
  }
} 
.yogurt-container{
  margin-top: -29px;
  display: flex;
  justify-content: center;
}
.yogurt{
  max-width: 380px;
  position: relative;
  &__img{
    position: relative;
    left: 70px; 
  }
  &__property{
    @include font(18px, $IndieFlower);
    color:#fff;
    position: absolute;
    text-align: center;
    line-height: 16px;
    &-oganic{
      left: 40px;
      top: 79px;
      &:after{
        content: '';
        @include bgi('header/Prop_arrows/Yogurt_prop_arrow_1.svg', center no-repeat);
        width: 56px;
        height: 33px;
        position: absolute;
        right: -29px;
        top: -18px;
      }
    }
    &-fresh{
      right: 43px;
      top: 72px;
      &:after{
        content: '';
        @include bgi('header/Prop_arrows/Yogurt_prop_arrow_2.svg', center no-repeat);
        width: 52px;
        height: 30px;
        position: absolute;
        left: -21px;
        top: -18px;
      }
    }
    &-logo{
      left: 45px;
      bottom: 15px;
      &:after{
        content: '';
        @include bgi('header/Prop_arrows/Yogurt_prop_arrow_3.svg', center no-repeat);
        width: 69px;
        height: 55px;
        position: absolute;
        left: 76px;
        top: -32px;
        z-index: 99;
      }
    }
  }
}




// MENU MOB

.burger-btn{
  span{
    @include transition;
  }
  @include transition;
}
.burger-btn.active{
  height: 20px;
  .line1{
    transform-origin: left bottom;
    transform: rotate(45deg);
  }
  .line3{
    transform-origin: left top;
    transform: rotate(-45deg);
  }

  .line2{
    width: 0;
    opacity: .2;
  }
}

.menu{
 
}
.header-top{
  
}
.main-menu{
  // display: block;
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // background-color: #eee;
  
}
