.services{
  .title:after{
    content: '';
    display: block;
    width: 297px;
    height: 9px;
    margin: 0 auto;
    @include bgi('title-shapes/Service.svg', center no-repeat);
    position: relative;
    background-size: contain;
    bottom: -10px;
    @include screen-lg{
      width: 402px;
      height: 20px;
      bottom: -4px;
    }
  }

    @include screen-lp{
      background: url("#{$image_dir}services/Service_BG.svg") center bottom no-repeat;
      background-size: 100% 70%;
    
  }
  .container{
    padding-bottom: 30px;
    // padding-left: 0;
    // padding-right: 0;
    // @include screen-tb{
    //   padding-left: $sidePaddingsMain;
    //   padding-right: $sidePaddingsMain;
    // }
  }
  .slider-wrapper{
    margin-top: -30px;
    padding-top: 40px;
  }
}
.services-slider.slick-slider{
  margin: 0 -11px;
} 
.services-grid{
  @include screen-lp{
    display: flex;
    justify-content: space-between;
   
  }
  .slide{
    outline: none;
   
    @include screen-lp{
      margin-right: 30px;
      &:nth-child(2){
        .service-item__img{
          transition-delay: .2s;
        }
      }
      &:last-child{
        margin-right: 0;
        .service-item__img{
          transition-delay: .4s;
        }
      }
    }
  }
}
.service-item{
  position: relative;
  // opacity: 0;
  // top: -50px;
  max-width: 298px;
  outline: none;
  margin:0 auto; 
  @include transition();
  @include screen-tb{
    max-width: 265px;
  }
  &__img{
    @include transition();
    width: 100%;
    top:-50px;
    position: relative;
    opacity: 0;
  }
  &__name{
    margin-top: 25px;
    margin-bottom: 12px;
    text-align: left;
    @include font(24px, $GillBold);
  }
  &__description{
    font-size: 14px;
    line-height: 22px;
  }


  @include screen-tb{
    align-items: center;
    margin-bottom: 20px; 
    &__description{
      display: block;
      font-size: 16px;
      line-height: 22px;
    }
    &:first-child{
      margin-bottom: 20px;
    }
  }
  @include screen-lp{
    
  }
  @include screen-md{
    &:first-child{
      margin-bottom: 45px;
    }
  }
  @include screen-lg{
    &:first-child{
      margin-bottom: 70px;
    }
  }
}

