.services{
  .title:after{
    content: '';
    display: block;
    width: 297px;
    height: 9px;
    margin: 0 auto;
    @include bgi('title-shapes/Service.svg', center no-repeat);
    position: relative;
    background-size: contain;
    bottom: -10px;
    @include screen-lg{
      width: 422px;
      height: 20px;
      bottom: -20px;
    }
  }

    @include screen-lp{
      background: url("#{$image_dir}services/Service_BG.svg") center bottom no-repeat;
      background-size: 100% 70%;
    
  }
  .slider-wrapper{
    margin-top: -40px;
    padding-top: 40px;
  }
}
.services-slider.slick-slider{
  margin: 0 -11px;
}
.services-grid{
  @include screen-lp{
    display: flex;
    justify-content: space-between;
   
  }
  .slide{
    top:-50px;
    position: relative;
    opacity: 0;
    @include transition();
    @include screen-lp{
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.service-item{
  position: relative;
  // opacity: 0;
  // top: -50px;
  max-width: 298px;
  outline: none;
  margin:0 auto; 
  @include transition();
  &__name{
    margin-top: 16px;
    margin-bottom: 19px;
    text-align: left;
    @include font(22px, $MontserratSemiBold);
  }
  &__img{
     width: 100%;
    height: 302px;
  }
  &__description{
    font-size: 14px;
    line-height: 17px;
  }


  @include screen-tb{
    align-items: center;
    margin-bottom: 20px; 
    &__info{
    }
    &__name{
      margin-bottom: 24px;
      text-align: left;
    }
    &__description{
      display: block;
    }
    &:first-child{
      margin-bottom: 20px;
    }
  }
  @include screen-lp{
    
  }
  @include screen-md{
    &:first-child{
      margin-bottom: 45px;
    }
  }
  @include screen-lg{
    &:first-child{
      margin-bottom: 70px;
    }
  }
}

