.slick-dots{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 80px;
    margin-top: 36px;
  li button {
    display: block;
    width: 9px;
    height: 9px;
    background-color: #85d1f5;
    padding: 0;
    border: none;
    border-radius: 100%;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
    color: transparent;
    outline: none;
  }
  li.slick-active button {
    background-color: #1c8abe;
  }
}
