.toppings{
  .title-wrapper{
    text-align: center;
    margin: 0 auto;
    padding: 0 75px 0 75px;
    margin-bottom: 36px;
    @include screen-lp{
      font-size: 32px;
      margin-bottom: 60px;
    }
    @include screen-md{
      font-size: 36px;
      margin-bottom: 90px;
    }
    @include screen-lg{
      font-size: 40px;
      margin-bottom: 110px;
    }
  }
  .title{
    position: relative;
    display: inline;
    &:before{
      content: '';
      display: block;
      width: 70px;
      height: 50px;
      @include bgi('title-shapes/Wing-left.svg', center no-repeat);
      background-size: contain;
      position: absolute;
      top: 7px;
      left: 0;
      transform: translateX(-110%);
      @include screen-lg{
        width: 128px;
        height: 82px;
        transform: translateX(-130%);
      }
    }
    &:after{
      content: '';
      display: block;
      width: 65px;
      height: 50px;
      @include bgi('title-shapes/Wing-right.svg', center no-repeat);
      background-size: contain;
      position: absolute;
      top: 7px;
      right:0;
      transform: translateX(125%);
      @include screen-lg{
        width: 139px;
        height: 90px;
        transform: translateX(130%);
      }
    }
    
  }
}
.container.toppings-container{
  padding-left: 0;
  padding-right: 0;
  @include screen-tb{
    padding-left: $sidePaddingsMain;
    padding-right: $sidePaddingsMain;
  }
}
.topping-slider-wrapper{
  padding-left: 11px;
  @include screen-tb{
    padding-left: 0;
    padding-right: 0;
  }
  
}
.toppings-slider{
  display: grid;
  grid-gap: 67px;
  grid-template-columns: repeat(auto-fill, 166px);
  justify-content: space-between;
}
.toppings-slide{
  width: 166px;
  height: 166px;
  margin-right: 11px;
}
#toppings-slider-arrows .slick-prev{
  display: none !important;
}
#toppings-slider-arrows{
  display: flex;
  justify-content: center;
} 
#toppings-slider-arrows .next-slide-btn{
  border: none;
  background-color: unset;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  @include transition();
  padding-right: 50px;
  @include bgi('icons/Arrow-right.svg',center right no-repeat);
}
.toppings-slide__continue{
  line-height: 100%;
  color: #85d1f5;
  font-size: 30px;
  font-weight: 700;
  line-height: 150px;
  /* Text style for "t, o be co" */
  letter-spacing: 0.75px;
  min-width: 300px;
}