.wonderpots-general{
  background: url("#{$image_dir}wonderpots-top/Header_BG_mob.png") center repeat-x;
  background-size: cover;
  min-height: 574px;
  padding-bottom: 20px;
  @include screen-lp{
    min-height: 1000px;
    background: url("#{$image_dir}wonderpots-top/Header_BG_desk.png") center repeat-x;
    padding-bottom: 0;
  }
  .container{
    overflow: hidden;
    padding-top: 0 !important;
  } 
  .primary-btn{
    text-transform: uppercase;
    @include screen-lp{
      margin: 0;
    }
    @include screen-md{
      margin-top: 50px;
      width: 229px;
      height: 67px;
      font-size: 16px;
      font-weight: 400;
      line-height: 67px;
      border-radius: 40px;
    }
  }
}
.wonderpots-wrapper{
  max-width: 100%;
  padding-top: 106px;
  height: 100%;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 100%;
  @include screen-lp{
    grid-template-columns: 1fr 1fr;
    padding-top: 188px;
  }
}
.wonderpots-title-wrapper{
  @include screen-lp{
    max-width: 650px;
  }
}
.wonderpots-title{
  margin-top: 10px;
  @include font(31px, $GillBold);  
  text-transform: uppercase;
  // line-height: 18px; 
  letter-spacing: 1.53px;
  min-width: 302px;
  font-weight: 700;
  text-align: center;
  span{
    @include font(52px,  $GillBold);
    letter-spacing: 2.37px;
    line-height: 40px;
  }
  @include screen-lp{
    grid-row: 1/2;
    text-align: left;
    font-size: 38px;
    span{
      font-size: 64px;
      line-height: 60px;
    }
  }
  @include screen-md{
    font-size: 56px;
    span{
      font-size: 94px;
      line-height: 90px;
    }
  }
  @include screen-lg{
    font-size: 67px;
    span{
      font-size: 113px;
      line-height: 105px;
    }
  }
  
} 
.yogurt-container{
  margin-top: -29px;
  display: flex;
  justify-content: center;
  @include screen-lp{
    margin-top: 0;
    grid-column: 2;
    grid-row: 1/3;
    max-height: 620px;
  }
}
.yogurt{
  max-width: 380px;
  position: relative;
  &__img{
    position: relative;
    left: 70px;
    width: 385px;
    height: 100%;
    @include screen-lp{
      height: 611px;
      width: auto;
      left: 0; 
    }
  }
  &__property{
    @include font(18px, $IndieFlower);
    color:#fff;
    position: absolute;
    text-align: center;
    line-height: 16px;
    &-oganic{
      left: 35px;
      top: 79px;
      &:after{
        content: '';
        @include bgi('wonderpots-top/Prop_arrows/Yogurt_prop_arrow_1.svg', center no-repeat);
        background-size: contain;
        width: 56px;
        height: 33px;
        position: absolute;
        right: -29px;
        top: -18px;
      }
    }
    &-fresh{
      right: 43px;
      top: 72px;
      &:after{
        content: '';
        @include bgi('wonderpots-top/Prop_arrows/Yogurt_prop_arrow_2.svg', center no-repeat);
        background-size: contain;
        width: 52px;
        height: 30px;
        position: absolute;
        left: -21px;
        top: -18px;
      }
    }
    &-logo{
      left: 45px;
      bottom: 15px;
      &:after{
        content: '';
        @include bgi('wonderpots-top/Prop_arrows/Yogurt_prop_arrow_3.svg', center no-repeat);
        background-size: contain;
        width: 69px;
        height: 55px;
        position: absolute;
        left: 76px;
        top: -32px;
        z-index: 77;
      }
    }
  }
}
@include screen-lp{
  .yogurt{
    left: -50px;
    &__property{
      font-size: 31px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 2.51px;
      &-oganic{
        left: -100px;
        top: 99px;
        &:after{
          width: 116px;
          height: 68px;
          right: -29px;
          top: -38px;
        }
      }
      &-fresh{
        right: -145px;
        top: 131px;
        &:after{
          width: 107px;
          height: 62px; 
          left: -51px;
          top: -38px;
        }
      }
      &-logo{
        left: -66px;
        bottom: -5px;
        &:after{
          width: 144px;
          height: 115px; 
          left: 151px;
          top: -76px;
        }
      }
    }
  }
}

@include screen-lg{
  .yogurt{
    left: 0;
  }
}

.wonder-ticket{
  display: none;
  @include screen-lp{
    width: 335px;
    height: 97px;
    margin-top: 70px;
    margin-bottom: 64px;
    display: block;
    text-align: center;
    @include bgi('wonderpots-top/wonder-tcket-bg.svg', center no-repeat);
    &__inner{
      color: #2c3137;
      font-family: $Sacramento;
      font-size: 55px;
      font-weight: 400;
      line-height: 97px;
      display: inline-block;
      transform: rotate(-2.5deg);
    }
  }
}
.wonderpots__text{
  display: none;
  @include screen-lp{
    margin-top: 22px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-family: $GillBook;
  }
}
.notification-wrapper{
  max-width: $maxContentWidth;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: $sidePaddingsMob;
  padding-right: $sidePaddingsMob;
  @include screen-sm{
    padding-left: $sidePaddingsMain;
    padding-right: $sidePaddingsMain;
  }
}
.cookie-notification{
  // height: 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  
  
  position: relative;
  background-color: #e9f6fc;
  margin: 0 10px;
  line-height: 18px;
  font-size: 15px;
  // visibility: hidden;
  opacity: 0;
  padding: 0;
  @include transition();
  &.show{
    padding: 30px;
    margin-bottom: 20px;
    opacity: 1;
    // visibility: visible;
    @include screen-tb{
      padding: 10px 74px 10px 108px ;
    }
  }
  @include screen-tb{
    background: #e9f6fc url("#{$image_dir}wonderpots-top/cookie-notification-icon.svg") 20px center  no-repeat;
    flex-direction: row;
    background-position: 35px center;
    margin: 0;
  }
  &__agree-btn{
    min-width: 148px;
    height: 38px;
    box-shadow: 0 3px 0 #1c8abe;
    background-color: #7dccf3;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-top: 16px;
    cursor: pointer;
    @include font(13px,$MontserratSemiBold);
    @include screen-tb{
      margin-top: 0;
      margin-left: 21px;
    }
  }
  &__close{
    position: absolute;
    right:0;
    top: 0;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      display: block;
      width: 15px;
      height: 2px;
      background-color: #1c8abe;
      border-radius: 3px;
      position: absolute;
      &:nth-child(1){
        transform: rotate(45deg);
      }
      &:nth-child(2){
        transform: rotate(-45deg);
      }
    }
  }
}